html {margin-top: 0 !important;}
    #wpadminbar {
        display: none !important;
        z-index: -1 !important;
    }
	#preloader {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #354960;
		z-index: 999999;
		height: 120%;
	}
	
	#status_txt {
		width:100%;
		position: absolute;
		top:50%;
		left:0;
		z-index:99;
		color:#fff;
		text-align:center;
		font-size:11px;
	}
	.page-template-template-login a:hover {
		color:#FFFFFF;
		text-decoration: underline;
	}
	body, #page-container {background-color: transparent !important;}
	span.um-field-checkbox-option {
		display: none;
	}
	.arbitrage-button {
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		color: #ffffff;
		background: none;
		border: 2px #fff solid;
		height: auto;
		border-radius: 25px;
		padding: 3px 9px;
	}
	.arbitrage-button--primary {
		border: 2px #2481bc solid;
	}
	.arbitrage-button--primary:hover {
		color: #ffffff;
		background-color: #2481bc !important;
		transition-duration: 300ms;
	}
	.notif--subb {
		margin: 109px auto 0 auto;
	}
	input.email--field {
		background: #11273e;
		border: 1px solid #1e3554;
		border-radius: 25px;
		padding: 10px 72px 10px 13px;
		width: 485px;
		color: #d8d8d8;
	}
	.email--btn {
		left: -90px;
		padding: 5px 10px !important;
		top: -1px;
		position: relative;
	}
	.header-image {
		margin-top: 20px;
		width: 108px;
	}
	.form-success-email {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 99;
		display: none;
	}
	.success--content {
		position: absolute;
		top: 3.5%;
		right: 50.2%;
		transform: translate(50%,-50%);
		background: #11273e;
		border-radius: 5px;
		padding: 10px 15px;
		animation-name: fadeinLoad;
		animation-duration: 1s;
		animation-delay: 5s;
		animation-fill-mode: forwards;
	}
	span.success-word {
		color: #d8d8d8;
	}
	.contercontrol {
		display:none;
    }
    
    body, html {overflow: hidden !important;}
.um-form input[type=text], .um-form input[type=tel], .um-form input[type=number], .um-form input[type=password] {
    padding: 0 16px !important;
	font-size: 11px !important;
    height: 33px !important;
	line-height: 33px !important;
}
.login-form .login-item .login-form-field input {
    padding: 0 16px;
	height:33px;
	line-height:33px;
    border-radius: 0;
}
.login-form .login-item .login-form-title {
    margin-bottom: 6px;
    margin-left: 0;
}
.left-side-inner .paragpart {
    font-size: 18px;
    font-weight: 300;
}
.left-side-inner .paragpart strong {
	font-weight: 900 !important;
}
.login-form .login-submit input#wp-submit {
    display: block;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 11px;
    height: 33px;
    line-height: 33px;
    padding: 0;
}
.um .um-form input[type=password]:active,
.um .um-form input[type=text]:active,
.um .um-form input[type=password]:focus,
.um .um-form input[type=text]:focus,
.um .um-form input[type=password],
.um .um-form input[type=text],
.login-form .login-item .login-form-field input {
    background: rgba(255,255,255,0.3);
	outline: none !important;
	color: #fff;
  	font-size:11px;
	border-radius: 50px;
	font-family:"Roboto", Arial;
	margin-bottom: 10px;
	border: none !important;
}
input#username_b:active,
input#username_b:focus,
.um .um-form input[type=password]:active,
.um .um-form input[type=text]:active,
.um .um-form input[type=password]:focus,
.um .um-form input[type=text]:focus {
	border:none !important;
}
div#um-shortcode-social-133 a.um-button.um-button-social i {margin-right: 0 !important;}
.left-side-inner {
    color: #bdc3c7;
}
.um .um-form input[type=password]::-webkit-input-placeholder,
.um .um-form input[type=text]::-webkit-input-placeholder,
.login-form .login-item .login-form-field input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  font-size:11px;
}
.um .um-form input[type=password]::-webkit-input-placeholder,
.um .um-form input[type=text]::-webkit-input-placeholder,
.login-form .login-item .login-form-field input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  font-size:11px;
}
.um .um-form input[type=password]::-webkit-input-placeholder,
.um .um-form input[type=text]::-webkit-input-placeholder,
.login-form .login-item .login-form-field input:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  font-size:11px;
}
.um .um-form input[type=password]::-webkit-input-placeholder,
.um .um-form input[type=text]::-webkit-input-placeholder,
.login-form .login-item .login-form-field input:-moz-placeholder { /* Firefox 18- */
  color: #fff;
  font-size:11px;
}
.um-field {
    padding: 0 0 0 0;
}
.um .um-form input[type=text], .um .um-form input[type=tel], .um .um-form input[type=number], .um .um-form input[type=password], .um .um-form textarea, .um .upload-progress, .select2-container .select2-choice, .select2-drop, .select2-container-multi .select2-choices, .select2-drop-active, .select2-drop.select2-drop-above {border: 0 !important;}
div.um .g-recaptcha {
    margin-top: 0 !important;
}
input[type=submit].um-button, input[type=submit].um-button:focus {
    vertical-align: middle !important;
    line-height: 33px !important;
    padding: 0 !important;
    background-color: transparent !important;
    height: 33px !important;
    font-size: 12px;
    cursor: pointer !important;
    width: 170px !important;
    box-shadow: none;
    text-shadow: none;
    font-family: inherit;
    outline: none !important;
    margin: 0 0 0 0 !important;
    opacity: 1;
    -webkit-appearance: none;
    min-width: 100px !important;
    border: none;
}
div.um .g-recaptcha {
    border-radius: 7px;
    overflow: hidden;
	height: 75px;
}
html,
.prtnr_signup,
.prtnr_login,
.forgotpass-wrapper .um-col-alt .um-center,
.um-register .um-col-alt .um-center,
.um-login .um-col-alt .um-center,
.login-submit {
	background-size:100% auto;
}
div#fancybox-content {
	border-color: #2c3e50 !important;
    background: #2c3e50 !important;
}
#fancybox-outer {
	background: #2c3e50 !important;
	box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-radius: 6px;
    overflow: hidden;
}
#fancybox-close {top: 18px;right: 18px;}
.lockedd {position:relative;}
.lockedd i.fa.fa-lock {
    top: 7px;
    position: absolute;
    right: 21px;
    font-size: 14px;
}
.rlewaylogo {
	font-family:'Raleway', sans-serif;
	font-size:20px;
	font-weight:900;
	padding:5px;
	color:#fff;
}
html, .home body.et_cover_background {
    background-color: #354960 !important;
}
html, body, div#page-container, div#et-main-area {height: 100%;}
.um-social-login-overlay, #preloader,

#preloader {background-size: cover;}
html {-webkit-transition: all 0.5s ease; transition: all 0.5s ease;}
.ondashboardpage_login {
    display: table;
    width: 100%;
    height: 100%;
	-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.ondashboardpage_login_inner {
    vertical-align: top;
    padding-top: 0 !important;
    display: table-cell;
    text-align: center;
	position:relative;
	-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.signup-form {
	max-width: 290px;
	width:100%;
	margin:0 auto;
}
.um-login,
.login-form {
	max-width: 290px;
	width:100%;
	margin:0 auto;
}
.prtnr_login img,
.prtnr_signup img {
    width: 34px !important;
    height: 50px !important;
    padding: 5px 0 9px 0 !important;
}
.um-password .um-col-alt {
	padding-top:0;
	margin-top:0;
}

.forgotpass-wrapper .um-col-alt .um-center:hover {
	border-color: #fff;
}
#open-wschat {display:none !important;}

.um-login .um-col-alt .um-center:hover,
.um-register .um-col-alt .um-center:hover {
	border-color: #fff;
}
.um-login label.um-field-checkbox {
    top: -3px !important;
}
.um-login .um-col-alt .um-center {margin-top: -5px !important;}
.um-login .um-col-alt .um-center:before{
}

.um-register .um-col-alt .um-center:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(to right, #ed0d85, #f15f56);
}
.um-password .um-col-alt .um-center:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(to right, #2098f9, #9eefb4);
}
.um-login .um-col-alt .um-center:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(to right, #2098f9, #9eefb4);
}
.um-login .um-col-alt .um-center:before,
.login-submit:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(to right, #2098f9, #9eefb4);
  z-index: -1;
}
.um-login .um-col-alt .um-center > .um-login .um-col-alt .um-center:before, .login-submit:before {
  z-index: 0;
}
.login-submit:hover {
	border-color: #fff;
}

.prtnr_signup:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(to right, #ed0d85, #f15f56);
}
.prtnr_login:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(to right, #2098f9, #9eefb4);
}
.prtnr_login span,
.prtnr_signup span {
    display: block;
    font-size: 11px;
    padding-top: 5px;
    position: absolute;
    width: 100%;
    color: #fff;
} 
.prtnr_signup:hover,
.prtnr_login:hover {
	border-color: #fff;
}
.login-form .login-item {
    margin-bottom: -15px;
}
.um-field-block {
    color: #fff;
    font-size: 11px;
    padding-bottom: 10px;
}
input#username_b {
	text-align:center;
}
.ondashboardpage_login_inner h3 {
    font-size: 18px;
    color: #fff;
    margin: 0 0 0 0;
    font-style: normal;
    padding: 0 0 20px 0;
}
.um-field-area {
    margin-bottom: 10px;
}
.left-login-form-inner {
    width: 100%;
}
.ordash {
	text-align:center; 
	padding:10px 0 0 !important; 
	margin-bottom:0; 
	color:#fff;
	font-size:12px;
}
.um.um-shortcode-social {
	display: none;
}
.um-button-facebook span {
    display: none;
}
input#user_login, input#user_pass {
    text-align: center;
}
.ico_posbott_signup,
.ico_posbott_login {
	position:absolute;
	z-index:9999;
	bottom: 0;
	width:100%;
	padding:0 0 50px 0;
	text-align:center;
	display:none;
}
.login-form-field.groupfld {
	max-width:260px;
	margin:0 auto;
}
.um-field-type_password {
	width: 100%;
	display: inline-block;
	vertical-align: top;
}
.confirmpasscls {
    width: 0;
    margin-left: 0;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}
.confirmpasscls input[type="password"]{
    margin-left: 4% !important;
    width: 96%;
}
.um {
    margin-bottom: 0 !important;
}
.um-field.um-field-last_name.um-field-text.um-field-type_text {
    width: 50%;
    display: inline-block;
}
.um-field.um-field-first_name.um-field-text.um-field-type_text {
    width: 50%;
    display: inline-block;
}
.um-row._um_row_1 {
    margin-bottom: -15px !important;
}
input#um-submit-btn {
    margin: 0 auto;
}
.um.um-register.um-9.uimob340 {
    margin-bottom: 0 !important;
}
.arb_circle_btns {
    position: relative;
    z-index: 9;
}
.um-half {
    width: 100%;
    float: none;
}
.um-col-alt {
    text-align: center;
    position: relative;
    z-index: 9;
}
.arb_copy {
	position:fixed;
	font-size:11px;
	color:#fff;
	bottom:25px;
	left:25px;
}
.signup-form-wrapper,
.login-form-wrapper {
    width: 100%;
}
.arb_accept {
	color:#fff;
	font-size:11px;
	text-align:center;
}
a.showpassreset {
	color:#fff !important;
	font-size:11px;
}
.arb_accept a {
	color:#fff;
	text-decoration:none;
}
.arb_forgpass label,
.arb_forgpass a {
	color:#fff;
	font-size:11px;
	text-decoration:none;
}
.arb_forgpass {
	padding-top: 10px;
}
.forgotpass-wrapper {
	display: none;
    position: relative;
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
}
.forgotpass-wrapper .um-password {
	position:absolute;
	max-width: 260px;
    width: 100%;
    margin: 0 auto;
}
.um-um_password_id.um {
    max-width: 260px !important;
    margin: 0 auto;
}
.arb_forgpass_back {
	position:absolute;
	top:130px;
	width:100%;
	text-align:center;
}
.arb_forgpass_back a {
	color:#fff;
	font-size:11px;
}
.um-login .um .um-field-label {
    display: none;
}
.um-login .um-field-c .um-field-checkbox {
    margin-bottom: 0;
    font-size: 11px;
}
.um-login .um-field-c .um-field-checkbox {
    height: 21px;
    margin-bottom: 0;
    margin-top: 0 !important;
    position: relative;
    font-size: 11px;
    width: 24px;
    text-align: -webkit-auto;
    display: inline-block;
    vertical-align: top;
}
.um-login .um-field-checkbox-state i, .um-field-radio-state i {
    font-size: 20px;
    line-height: 21px;
    height: 20px;
	cursor:pointer;
}
.um-login .um-field-checkbox-option, .um-field-radio-option {
    margin: 0px 0px 0px 22px;
    color: #fff !important;
	cursor: pointer;
}
.um .um-field-checkbox.active:not(.um-field-radio-state-disabled) i {color: #4eb770;}
.forgotpass-wrapper .um-field-block div {text-align:center;}
.forgpasslnk {
	vertical-align: top;
	display:inline-block;
	line-height: 14px;
	color:#FFFFFF;
	font-size:11px;
	padding: 2px 0 0 0;
}
input#last_name-9 {
    border-radius: 0 35px 35px 0 !important;
}
input#first_name-9 {
    border-radius: 35px 0 0 35px !important;
	border-right: 1px solid rgba(255, 255, 255, 0.2) !important;
}
/* Responsive */
@media only screen and (max-width: 3200px){
	.prtnr_signup,
	.prtnr_login,
	html,
	.forgotpass-wrapper .um-col-alt .um-center,
	.um-register .um-col-alt .um-center,
	.um-login .um-col-alt .um-center,
	.login-submit {
		background-size:100% auto;
	}
}
@media only screen and (max-width: 1150px){
	.prtnr_signup,
	.prtnr_login,
	html,
	.forgotpass-wrapper .um-col-alt .um-center,
	.um-register .um-col-alt .um-center,
	.um-login .um-col-alt .um-center,
	.login-submit {
		background-size:cover;
	}
}
@media screen and (min-height: 280px){
	.ondashboardpage_login_inner {
		padding-top: 1%;
	}
}
@media screen and (min-height: 380px){
	.ondashboardpage_login_inner {
		padding-top: 1%;
	}
}
@media screen and (min-height: 480px){
	.ondashboardpage_login_inner {
		padding-top: 2%;
	}
}
@media screen and (min-height: 580px){
	.ondashboardpage_login_inner {
		padding-top: 3%;
	}
}
@media screen and (min-height: 610px){
	.ondashboardpage_login_inner {
		padding-top: 3%;
	}
}
@media screen and (min-height: 680px){
	.ondashboardpage_login_inner {
		padding-top: 6%;
	}
}
@media screen and (min-height: 780px){
	.ondashboardpage_login_inner {
		padding-top: 8%;
	}
}
@media screen and (min-height: 880px){
	.ondashboardpage_login_inner {
		padding-top: 10%;
	}
}
@media screen and (min-height: 980px){
	.ondashboardpage_login_inner {
		padding-top: 12%;
	}
}
@media screen and (min-height: 1080px){
	.ondashboardpage_login_inner {
		padding-top: 14%;
	}
}
div#um-shortcode-social-133 a.um-button.um-button-facebook {
    background-color: transparent !important;
    border: 1.5px solid #fff !important;
    width: 50px !important;
    padding: 0 !important;
    height: 50px !important;
    line-height: 50px !important;
    text-align: center !important;
    margin: 0 auto !important;
	border-radius: 50px !important;
}
div#um-shortcode-social-133 a.um-button.um-button-facebook:hover {
	border-color: #324d84 !important;
}
.um-field-error {
    /* position: absolute; */
    padding: 6px 9px;
    font-size: 11px;
    line-height: normal !important;
    margin: 0 0 5px;
    margin-top: -7px;
    /* right: 3px; */
    border-radius: 3px;
    width: 100% !important;
    text-align: center !important;
    font-weight: bold !important;
    background: #C74A4A;

}
.um-field-error:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.75em;
    top: -14px;
    left: 50%;
    box-sizing: border-box;
    border: 7px solid black;
    border-color: transparent transparent #c74a4a transparent;
}
.um-field-arrow {
    display:none;
}
p.um-notice.err {
    display: none !important;
}
body, #page-container {background-color: transparent !important;}
div#um-shortcode-social-133 a.um-button.um-button-social i {
    font-size: 22px;
}
.um-col-alt-b a.um-link-alt {
    display: none !important;
}
.contercontrol {display:none !important;}
.email-info {
    background: rgba(255,255,255,0.3) !important;
    outline: none !important;
    color: #fff !important;
    font-size: 12px;
    border-radius: 50px;
    font-family: "Roboto", Arial;
    border: none !important;
    padding: 8px 15px !important;
    width: 200px;
}
span.label_pls {
    display: inline-block;
    margin: 10px 0 10px;
    color: #d8d8d8;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
input#email_btn_info {
    background: none;
    border-radius: 50px;
    border: 1.5px solid #51bade;
    padding: 7px 31px;
    color: #fff;
    cursor: pointer;
    margin: 13px 0;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
input#email_btn_info:hover {
    background: linear-gradient(to right, #2098f9, #9eefb4);
    border: 1.5px solid #51bade;
    background-repeat: no-repeat;
    overflow: hidden !important;
}
.confirmed_cont {
    display: none;
}
a.backto-login {
    color: #fff !important;
    font-weight: 500 !important;
    text-decoration: none !important;
    font-size: 12px !important;
}
.email_pass_reset_cont {
    display: none;
}
.error_message {
    display: none;
}
a.um-button.um-alt.um-button-social.um-button-facebook {
    display: block;
    width: 49px;
    border-radius: 50px !important;
    background: none !important;
    border: 2px solid #4267b2 !important;
    margin: 22px auto 0;
    padding: 12px 0 14px !important;
}
a.um-button.um-alt.um-button-social.um-button-facebook:hover {
    background: #4267b2 !important;
    border: 2px solid #4267b2 !important;
}
.um-button-facebook i{
    margin: 0;
    font-size: 25px;
    top: -5px;
    color: #fff;
}
.um-field-label label {
    font-size: 15px !important;
    line-height: 22px !important;
    font-weight: bold;
    font-weight: 600;
    display: block;
    text-align: center;
}
.um-icon-ios-close-empty {
    display: none;
}
.um-social-login-overlay {
    background: rgba(0, 0, 0, 0.7) !important;
}
.um-social-login-wrap {
    /* border: none !important; */
}
.um-social-login-wrap .um.um-register.um-err {
    background: #142c46;
    border: 5px !important;
    border-radius: 5px !important;
    padding: 35px;
}
.um-row._um_row_1.um-customized-row {
    background: none !important;
    border: none !important;
}
.um-social-login-wrap .arb_accept {
    display: none;
}
.um-social-login-wrap .um-col-alt {
    margin: 4px 0 4px;
}
.um-social-login-wrap .um-register .um-col-alt .um-center:before {
    z-index: 0;
}