html, body {
	height: 100%;
}

@font-face {
    font-family: "digital-7" , sans-serif !important;
    src: url('./fonts/digital-7.ttf');
         
    font-weight: normal;
    font-style: normal;

}



html {
	/*background-image: url('../img/sample.jpg');*/
	background-color: #0d1f30;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;	
}

body {
	background-color: #0d1f30;
	/*background-image: url('../img/pattern.png');*/
	background-position: center;
	background-repeat: repeat;
	font-family: 'Raleway', 'Arial', sans-serif;
}



.countdown-container {
	position: relative;
	top: 30%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);

}

.clock-item .inner {
	height: 0px;
	padding-bottom: 100%;
	position: relative;	
	width: 100%;
}

.clock-canvas {
	background-color: rgba(255, 255, 255, .1);
	border-radius: 50%;
	height: 0px;
	padding-bottom: 100%;
}

.text {
	color: #fff;	
	font-size: 30px;
	/*font-weight: bold;*/	
	margin-top: -100px;
	position: absolute;
	top: 50%;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	width: 100%;
}

.text .val {
	font-size: 150px;
	font-family: "digital-7", sans-serif!important;
	color: #0084ff;
}

.title-header {
	color: #0084ff;
	font-size: 40px;
    font-weight: bold;
    letter-spacing: 20px;
}

.text .type-time {
	font-size: 20px;
	margin-top: 35px;
}

.header-image {
	margin-top: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
	.clock-item {
		margin-bottom: 30px;		
	}
}

@media (max-width: 767px) {
	.clock-item {
		margin: 0px 30px 30px 30px;
	}
}
