html, body, .page-content-full-height .content {overflow:hidden;}
.arb_buysell {
    position: absolute;
    top: 6px;
    left: -320px;
    z-index: 999999;
}
.arb_buy {
    display: inline-block;
    height: 26px;
    line-height: 27px;
    text-align: center;
    color: #fff;
    padding: 1.4px 13px 0 13px;
    margin-right: 1px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 50px;
    font-weight: 300;
    vertical-align: top;
    border: #25ae5f solid 2px !important;
    line-height: 21px;
}
.arb_buy:hover {
    background-color: #25ae5f;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    transform: scale(1.07); 
}
.arb_sell {
    display: inline-block;
    height: 26px;
    line-height: 27px;
    text-align: center;
    color: #fff;
    padding: 1.4px 10px 0 10px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 50px;
    font-weight: 300;
    vertical-align: top;
    border: #e64c3c solid 2px !important;
    line-height: 21px;
}
.arb_sell:hover {
    background-color: #d04234;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    transform: scale(1.07); 
}
.arb_buysell i.fas {
    color: #fff;
    font-size: 10px;
    margin-top: -3px;
    vertical-align: middle;
    display: none;
}
.arb_sell:focus,
.arb_buy:focus,
.arb_sell:active,
.arb_buy:active,	
.arb_sell:hover,
.arb_buy:hover {
    color:#fff !important;
    text-decoration:none !important;
}
.arb_top_ticker {
    position:absolute;
    top:0;
    left:0;
    z-index:9;
    width:100%;
}
.arb_right_icons_trans {
    background: linear-gradient(to right, #2c3e5000 10%, #34495e 43%);
    z-index: 9;
    position: absolute;
    right: 0;
    padding-right: 4px;
    padding-top: 5px;
}
.arb-side-icon i {
    border: none;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    background-color: rgba(44, 62, 80,0.8);
}
.nav-tabs>li>a {
    margin-right: 5px;
    line-height: 20px;
    background-color: #34495e;
    color: #fff;
    border-radius: 0;
}
tr {
    font-size: 11px;
}
span.bidaskbar_btn {
    display: block;
    cursor: pointer;
}
.bidaskbar_opt {
    position: absolute;
    background-color: #2c3e50;
    width: 80px;
    right: 57px;
    z-index: 9;
}
.bidaskbar_opt ul {
    margin: 0;
    padding: 3px 7px;
    list-style: none;
    border: 1px solid #34495e;
    text-align: center;
}
.bidaskbar_opt li {
    padding: 3px 0;
    text-align:right;
}
.bidaskbar_opt ul li a {
    color:#bdc3c7;
}
.bidaskbar_opt ul li a:hover {
    color:#fff;
    text-decoration:none;
}
.bidaskbar_opt {display:none;}
.text-white {color: #bdc3c7 !important;}
#tv_chart_container iframe,
#tv_chart_container {
    height: 100%;
}
.arb_padding_5.b0.bidaskbar,
.arb_padding_5.b0.arb_bullbear {
    border-top: 4px #34495e solid;
}
.sd_border_btm {
    border-bottom: 4px #34495e solid;
}
.sd_border_top {
    border-top: 4px #34495e solid;
}
.allstocksbox {
    height: 56%;
    overflow: hidden;
    display: block;
    padding: 5px 0 5px 0;
}
.list-inline>li{display:inline-block;}
.list-inline>li+li{margin-bottom:5px !important;}

.arb_watchlst_cont table thead tr th {
    color: #dedede;
text-align: center;
}
.arb_watchlst_cont table thead tr th:first-child {
    color: #dedede;
text-align: center;
}
.arb_watchlst_cont table tbody tr td {
    color: #dedede;
    text-align: center;
    padding: 2px 4px;
    padding-left: 0px !important;
    cursor: pointer;
}
.arb_watchlst_cont table tbody tr td:hover .arb_watchlst_cont table tbody tr {
    background: #ffffff !important;
}
.arb_watchlst_cont table tbody {
    border-top: 6px solid #ffffff00;
}
.chred {
    color: #fffffe;
    padding: 0.5px 0 2px 0px;
    background: #e64c3c;
    border-radius: 50px;
}
.chgreen {
    color: #fffffe;
    padding: 0.5px 0 2px 0px;
    background: #25ae5f;
    border-radius: 50px;
}
.chred-price {
    color: #e64c3c !important;
}
.chgreen-price {
    color: #25ae5f !important;
}
.block {
    font-weight: normal;
    text-align: left !important;

}
.vertical-box-cell tr:nth-child(odd) {
    background: none !important;
}

.hideformodal {display:none;}
/* Enter Trade Form */
.groupinput label {
    display: inline-block;
    width: 46px;
    font-weight: 300;
    font-size: 13px;
    height: 27px;
    line-height: 27px;
    padding: 0 0 0 7px;
    background-color: #34495e;
    border: none;
    color: #ecf0f1;
    border-radius: 3px 0 0 3px;
    margin-bottom: 0;
}
.groupinput input[type="text"] {
    display: inline-block;
    border-radius: 0 3px 3px 0;
    width: 172px;
    font-weight: 300;
    font-size: 13px;
    height: 27px;
    line-height: 27px;
    padding: 0 0 0 7px;
    background-color: #4e6a85;
    border: 1px solid #4e6a85;
    color: #ecf0f1;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
}
.groupinput select {
    display: inline-block;
    border-radius: 0 3px 3px 0;
    width: 140px;
    font-weight: 300;
    font-size: 13px;
    height: 27px;
    line-height: 27px;
    padding: 0 0 0 3px;
    background-color: #4e6a85;
    margin: 0 0 0 -4px;
    border: 1px solid #4e6a85;
    color: #ecf0f1;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
}
.confirmtrd,
input[type="submit"].confirmtrd {
    position: relative;
    left: 535px;
    border: 0;
    line-height: 26px;
    height: 32px;
    font-weight: 300;
    font-size: 14px;
    padding: 0 18px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    background: none;
    border: #25ae5f solid 2px !important;
}
.confirmtrd:hover,
input[type="submit"].confirmtrd:hover {
    color: #fff;
    text-decoration:none;
    background-color: #25ae5f !important;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    transform: scale(1.07);
}
.confirmtrd.green {
    /*background-color: #27ae60 !important;*/
}
.confirmtrd.green:hover {
    background-color: #167b41 !important;
}
.confirmtrd.red {
    background-color: #e64c3c !important;
}
.confirmtrd.red:hover {
    background-color: #bb3527 !important;
}
.groupinput {
    margin-bottom: 10px;
}
textarea.darktheme {
    background-color: #4e6a85;
    border: 1px solid #4e6a85;
    height: 152px;
    max-width: 444px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #ecf0f1;
    margin-top: 0;
    margin-right: 2px;
}
.entr_col {
    width:33%;
    float:left;
}
.entr_clear {clear:both;}
.selltrade,
.entertrade {
    width: 720px;
    margin: auto;
}
.groupinput.midd label {
    width:80px;
}
.groupinput.midd select {
    width:157px;
}
.groupinput.midd input {
    width:138px;
}
.entr_wrapper_top {
    padding:20px 0 15px 20px;
    background-color:#0c1f33;
}
.entr_wrapper_mid {
    padding: 20px 0 2px 20px;
    background-color: #142b46;
    border-radius: 4px;
    min-height: 260px;
}
.entr_wrapper_bot {
    padding:25px 0 25px 25px;
    background-color:#2c3e50;
}
.rnd {border-radius:3px !important;}
.selectonly select {
    width:219px;
    margin:0;
}
.entr_ttle_bar {
    background-color: #34495e;
    padding: 12px;
    border-radius: 4px;
}
.entr_ttle_bar img {
    width: 22px;
    vertical-align: middle;
    margin: 0 7px 0 0;
}
.entr_ttle_bar strong {
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    font-weight:700 !important;
    vertical-align: middle;
    color:#fff;
}
.entr_successmsg {
    border-radius: 3px;
    background-color: #27ae60;
    color: #fff;
    padding: 4px 7px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}
span.selldot {
    display: inline-block;
    background-color: #e84c3c;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    vertical-align: middle;
    margin: -1px 0 0px 5px;
}
span.buydot {
    display: inline-block;
    background-color: #27ae60;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    vertical-align: middle;
    margin: -1px 0 0px 5px;
}
iframe.bidaskbox {
    max-width: 217px;
    width: 100%;
    height: 152px;
    border: 1px solid #4e6a85;
    border-radius: 5px;
    padding: 5px;
    background: url(/images/arb_preloader.svg) no-repeat 50% 50% transparent;
    background-size: 50px;
    background-color: #0c1f33;
}
iframe.bullbearframe {
    background: url(/images/arb_preloader.svg) no-repeat 50% 50% #2b3d4f;
    background-size: 35px;
}

/* Popup Overrides */
div#fancybox-content {
    border-color: #2c3e50 !important;
    background: #2c3e50 !important;
}
#fancybox-outer {
    background: #2c3e50 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-radius: 6px;
    overflow: hidden;
}
#fancybox-close {top: 18px;right: 18px;}
.lockedd {position:relative;}
.lockedd i.fa.fa-lock {
    top: 7px;
    position: absolute;
    right: 14px;
    font-size: 14px;
    color: #ecf0f1;
}
.tradelogtable {
    width:100%; 
    margin-bottom:15px;
}
.tradelogtable td {
    padding: 2px;
}
textarea.darktheme::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ecf0f1;
}
textarea.darktheme::-moz-placeholder { /* Firefox 19+ */
    color: #ecf0f1;
}
textarea.darktheme:-ms-input-placeholder { /* IE 10+ */
    color: #ecf0f1;
}
textarea.darktheme:-moz-placeholder { /* Firefox 18- */
    color: #ecf0f1;
}
.tradelogscont {
    background-color:#34495e;
    max-width:1125px;
    width:100%;
    margin:0 auto;
}
.tradelogscont .innerr {
    padding:25px 0;
}
a.smlbtn {
    background-color: #e64c3c;
    color: #fff;
    padding: 2px 8px;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    font-weight: bold;
    text-decoration:none;
}
a.smlbtn.blue {
    background-color: #3597d3;

}
a.smlbtn.green {
    background-color: #27ae60;
}
a.smlbtn:hover {
    background-color: #bb3527;
}
a.smlbtn.blue:hover {
    background-color: #1870a6;
}
a.smlbtn.green:hover {
    background-color: #167b41;
}
.sysoutput {background-color: #313131;}
.sysoutput span {
    display: inline-block;
    margin: 0 -4px 0 0px;
    color: #9a9a9a;
    background-color: #313131;
    padding: 2px 8px;
}
.tradelogtable strong {
    font-weight: 700 !important;
}
.tradingnotescont {
    width:300px;
    min-height:250px;
}
span.datestamp_header {
    color: #a1adb5;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0px 10px;
}
.fctnlhdn {
    visibility:hidden; 
    opacity:0;
    position:absolute;
    z-index:-1;
}
.arb_bar_red,
.arb_bar_green {
    margin: 1px 0 3px;
}
.fancybox-content {
    background: #0c1f33;
    padding: 10px;
}
.fancybox-slide--html .fancybox-close-small {
    right: 8px;
    top: 10px;
    color: #fff;
}
.arb_top_ticker {
    display:none;
}
.list-inline>li,
.list-inline>li+li {
    margin-left: 0px !important;
    border-left: 4px solid #34495e !important;
    margin-bottom: 0 !important;
    padding: 5px 7px 7px 7px !important;
    height:40px !important;
    overflow:hidden;
    vertical-align:top;
    transition: all 1s;
}
.normpadd {padding: 5px 7px 7px 7px !important;}
.list-inline>li+li span {transition:1s all;}
.greybarbg {
    height: 4px;
    background-color: #34495e;
    border-radius: 5px;
}
.arb_logo_placehldr h2 {
    font-size: 22px;
    color: #bdc3c7;
}
.arb_logo_placehldr {
    padding: 9px 0 0;
    text-align: center;
}
.vertical-box-row>.vertical-box-cell>.vertical-box-inner-cell {
    overflow: visible;
}
.arb_watchlst_cont {
    padding:5px;
    text-align:center;
    color:#bdc3c7;
}
.arb_watchlst_cont > table {
    width: 100%;
}
.marqueethis {
    width:0;
    height:40px;
    right:-45px;
}
.arb_custom_ticker {
    font-size: 10px;
    line-height: 12px;
    padding: 0; 
    display:block !important;
    margin-bottom: 0; 
    position:absolute;
    overflow:hidden; 
}
.arb_custom_ticker li {text-align:right;}
.bullbearsents_voted,
.bullbearsents {
    text-align:center;
    padding:0 0 4px 0;
}
.bullbearsents a {
    display:inline-block;
    vertical-align:middle;
}
.bullbearsents .bbs_bear,
.bullbearsents .bbs_bull {
    margin: -3px 2px 0px;
    /* position: relative;
    top: -47px; */
}
.bbs_bull {
    position: relative;
    /* left: 10px; */
}
.bbs_bear {
    position: relative;
    /* right: 10px; */
}
.bullbearsents .bbs_bear img {
    width:15px;
}
.bullbearsents .bbs_bull img {
    width:18px;
}
.bullbearsents .bbs_bull {
    background-color: #25ae5f;
    padding: 6px 5px;
    border-radius: 20px;
}
.bullbearsents .bbs_bull:hover {
    background-color: #229a55;	
}
.bullbearsents .bbs_bear {
    background-color: #e64c3c;
    padding: 6px 7px;
    border-radius: 20px;
}
.bullbearsents .bbs_bear:hover {
    background-color: #d13c2c;
}
.bullbearsents span {
    display: block;
    color: #FFF;
}
span.bullbearsents_label {
    margin-bottom: 2px;
}
.bbs_bear_bar {margin-left:-2px; text-align:right;}
.bbs_bull_bar {margin-right:-2px; text-align:left;}
.bbs_bear_bar_inner {background-color: #e64c3c; height:4px; border-radius: 0 5px 5px 0;}
.bbs_bull_bar_inner {background-color: #25ae5f; height:4px; border-radius: 5px 0 0 5px;}
.bbs_bear_bar, 
.bbs_bull_bar {
    width:0;
    vertical-align:middle;
    display:inline-block;
}
.bbs_bear_bar span,
.bbs_bull_bar span {display:none;}
.dbaronchart {
    display: inline-block;
    width: 0%;
    overflow: hidden;
    left: -1px;
    position: relative;
    height: 31px;
}
.bbs_bull_bar, .bbs_bear_bar {
    margin-top: 11px;
}
.bbs_bull_bar {
    float: left;
}
#preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #354960;
    z-index: 99999999;
    height: 100%;
}
#status {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 45%;
    background-image: url(/wp-content/plugins/um-social-activity/assets/img/loader.svg);
    background-size:50px;
    background-repeat: no-repeat;
    background-position: center;
    margin: -25px 0 0 -25px;
}
#status_txt {
    width:100%;
    position: absolute;
    top:50%;
    left:0;
    z-index:99;
    color:#fff;
    text-align:center;
    font-size:11px;
}
.chart_logo_arbitrage{
    position: absolute;
    z-index: 10;
    top: 0px;
    height: 40px;
    left: 0px;
    width: 55px;
    padding-left: 11px;
    padding-top: 6px;
    background: linear-gradient(to left, #2c3e5000 5%, #34495e 35%);
}
#tv_chart_container iframe {background-color: #34495e !important;}
.vertical-box-column.width-250 {
    border-right: 5px solid #34495e;
}
.width-250 {
    width: 260px!important;
}
.showsidemobile {
    position: absolute;
    z-index: 999;
    color: #fff;
    background-color: #2c3e50;
    font-size: 25px;
    padding: 1px 7px 2px;
    left: -41px;
    top: 0px;
}
.mobileinithide .fa-indent {display:none;}
.chartlocker {
    display:none;
    position:absolute;
    z-index: 998;
    width:100%;
    left: 0;
    height:100%;
    background-color: rgba(44, 62, 80,0.8);
}
.fixbrdebtm {
    height: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    background-color: #34495e;
}
tr.ng-scope:focus,
tr.ng-scope:active {
    background-color: #eb4d5c!important;
}
/* .dopensentiment,
.openmenow > .arb_bullbear {
    display: block !important;
} */
/* Responsive */
@media screen and (max-width: 767px){
    .table-responsive {
        border: none;
    }
}
@media only screen and (max-width: 667px) { 
    /* .vertical-box-inner-cell #tv_chart_container {
        left: -53px;
        position: relative;
        width: 114.5% !important;
    } */
    /* div#tv_chart_container:before {
        content: ">";
        position: absolute;
        font-size: 11px;
        padding: 4px .5px;
        left: 55px;
        top: 151px;
        color: #d8d8d8;
        background: #131722;
        border-radius: 10px;
    } */
    .width-250.mobileinithide {
        width: 100% !important;
        border-left: 5px solid #34495e;
        display: block;
        overflow-y: scroll;
    }
    .arb_logo_placehldr h2 img {
        width: 35% !important;
    }
    .allstocksbox {
        height: 100%;
    }
    .fixbrdebtm {
        display: none;
    }
    .arb_buysell {
        left: 0 !important;
        top: 0 !important;
        text-align: right;
        width: 100%;
        position: relative !important;
        height: 41px;
        background-color: #34495e !important;
        border-radius: 0 !important;
        padding: 5px 30px 5px 30px !important;
    }
    .buysell-grip-btn {
        display: none;
    }
    .buttons {
        border-left: none !important;
        padding: 0;
    }
    .arb_sell {width: 49%; margin-bottom:5px;border-radius: 50px;}
    .arb_buy {width: 49%; margin-bottom:5px;border-radius: 50px;}
    .vertical-box-column.mobilefull {
        width: 100%;
        display: block;
    }
    .groupinput.midd input {width: 59%;}
    .groupinput.midd label {width: 40%;}
    .groupinput {width: 95%;}
    iframe.bidaskbox {max-width: 100%;}
    .entr_col {width: 100%;}
}
.arb_watchlst_cont table thead tr th:first-child {
    text-align: left;
}
.background {
    background: #ffffff !important;
}
.closesidebar {
    position: relative;
    z-index:9999;
}
.closesidebar a {
    width: 10px;
    height: 28px;
    display: block;
    line-height: 27px;
    left: 3px;
    bottom: -77px;
    position: absolute;
    background-color: #131722;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #363c4e;
}
.opensidebar a:hover,
.closesidebar a:hover {
    background-color:#299dcd;
    border-bottom-color:#3bb3e4;
}
.closesidebar a img {
    height: 7px;
}
.opensidebar {
    position: relative;
    display:none;
    z-index:9999;
}
.opensidebar a {
    width: 9px;
    height: 28px;
    display: block;
    line-height: 27px;
    left: -9px;
    top: 143px;
    position: absolute;
    background-color: #131722;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #363c4e;
}
.opensidebar a img {
    height: 7px;
}
.showsidebar {
    width: 260px !important;
    border-right: 5px solid #34495e !important;
    /*transition: all 0.5s ease !important;*/
}
ul.ticker_enabler-dropdown {
    display: inline-block !important;
    top: 3px;
    position: absolute;
    right: 113px;
    z-index: 999999;
}
.arb_custom_ticker_wrapper #droppouts:before {
    /* right: -12px;
    top: 5px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    margin-left: -36px;
    border-left-color: #142c46;
    border-width: 6px; */
}
.arb_custom_ticker_wrapper #droppouts {
    font-size: 13px;
    position: absolute;
    top: 85px;
    left: 0;
    right: 0;
    width: 268px;
    background: #142c46;
    border-radius: 4px;
    list-style: none;
    margin: 0 auto 0;
}
ul.main-drops-chart > ul:before {
    bottom: 100% !important;
    right: 2% !important;
    border: solid transparent !important;
    content: " " !important;
    height: 0 !important;
    width: 0 !important;
    position: absolute !important;
    pointer-events: none !important;
    margin-left: -36px !important;
    border-bottom-color: #142c46 !important;
    border-width: 9px !important;
}
ul.main-drops-chart > ul {
    font-size: 13px;
    position: absolute;
    right: -6px;
    top: 37px;
    background: #142c46;
    min-width: 180px;
    text-align: left;
    border: none;
    border-radius: 4px;
    list-style: none;
    padding: 0;
}
ul.main-drops-chart {
    display: inline-block !important;
    position: relative;
    top: -3px;
}
ul.main-drops-chart > ul li a {
    color: #fff !important;
    display: block !important;
    font-size: 12px !important;
    text-decoration: none !important;
    font-weight: 500 !important;
    font-family: 'roboto', sans-serif !important;
}
ul.main-drops-chart > ul:before {
    border-bottom-color: #142c46 !important;
    right: 4% !important;
    border-width: 9px !important;
}
ul.main-drops-chart > ul li:hover {
    background: #0d1f33;
}
ul.main-drops-chart > ul li {
    padding: 6px 15px;
}
ul.main-drops-chart > ul li:first-child {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}
ul.main-drops-chart > ul li:last-child {
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
.dropopen {
    display: block !important;
}
.um-notification.unread {
    background: #0e111b !important;
}
.add-postsis{
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: #123;
}
.arb_calcbox {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 13px;
    background: rgba(94, 115, 138, 0.52);
    position: fixed;
    z-index: 99999999000;
    display: flex;
    align-items: center;
}
.bkcalcbox {
    padding: 20px 20px 20px 20px;
    color: #fff;
    max-width: 450px;
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
    background: #142c46;
}
.bkcalcboxess {
    padding: 20px 20px 20px 20px;
    color: #fff;
    max-width: 611px;
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
    background: #142c46;
}
.toclassclose {
    cursor: pointer;
    font-size: 14px;
    color: #d8d8d8;
    float: right;
}
.toclassclosess {
    cursor: pointer;
    font-size: 14px;
    color: #d8d8d8;
    float: right;
}
.toclasscloserss {
    cursor: pointer;
    font-size: 14px;
    color: #d8d8d8;
    float: right;
    margin-top: 2px;
}
.sccas{
    padding: 20px 20px 20px 20px !important;
    max-width: 365px !important;
    background: linear-gradient(#11273e,#24405f);
}
.halfts {
    /* height: 40em; */
    overflow: auto;
}
.halfts::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 11px;
    background-color: #0f121d;
}
input#risktoler, input#targetprof {
    margin-right: 8px;
}
.bbs_bear_bar span {
    float: right;
}

.halfts::-webkit-scrollbar
{
    width: 8px;
    border-radius: 10px;
    background-color: none;
}

.halfts::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #34495e;
}
.arb_calcshares input {
    background: #11273e !important;
    border: 1px solid #1e3554 !important;
    border-radius: 25px !important;
    height: 35px;
}
.arb_buyprice input {
    background: #11273e !important;
    border: 1px solid #1e3554 !important;
    border-radius: 25px !important;
    height: 35px;
}
.arb_sellprice input {
    background: #11273e !important;
    border: 1px solid #1e3554 !important;
    border-radius: 25px !important;
    height: 35px;
}
.doneitem li {
    width: 48.4%;
    display: inline-block;
}
input.dpri {
    padding-left: 16px !important;
    width: 100%;
    height: 42px;
    border-radius: 25px !important;
    color: #d8d8d8 !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px;
}
input.dpos {
    padding-left: 16px !important;
    width: 100%;
    height: 42px;
    border-radius: 25px !important;
    color: #d8d8d8 !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px;
}
.paramlist .jjaajs {
    margin-top: 15px !important;
    height: 100px;
    overflow-y: scroll;
}
.doneitem li span {
    padding-left: 17px;
}
.additems a{
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background: none;
    border: 2px #CDDC39 solid;
    height: auto;
    border-radius: 25px;
    padding: 3px 10px;
    color: #fff;
    text-decoration: none;
}
.calculate a{
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background: none;
    border: 2px #e91e63 solid;
    height: auto;
    border-radius: 25px;
    padding: 3px 9px;
    color: #fff;
    text-decoration: none;
}
.clearbtn a{
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background: none;
    border: 2px #03A9F4 solid;
    height: auto;
    border-radius: 25px;
    padding: 3px 20px;
    color: #fff;
    text-decoration: none;
}
.tobottomsit {
    margin: 10px 0px 25px 14px;
}
span.totalcost {
    font-size: 26px;
    font-weight: 200;
}
span.totalposition {
    font-size: 26px;
    font-weight: 200;
}
span.totalprice {
    font-size: 26px;
    font-weight: 200;
}
.tobottomsit ul li {
    line-height: 1.2;
    text-align: left;
    margin-bottom: 7px;
    border-bottom: 1px solid rgba(17, 39, 62, 0.32941176470588235);
    width: 94%;
}
.adprams {
    text-align: right;
    margin-top: 11px;
}
.um-notification span.b2 i img {
    width: 14px;
    margin-top: -3px;
}
.adprams div {
    display: inline-block;
}
.um-woo-downloads .woocommerce-Message {
    background: none;
    font-size: 14px !important;
    color: #d8d8d8 !important;
}
.toborderbotcalc {
    border-bottom: 2px solid #FFC107;
    font-size: 20px;
}
.toborderbotvar {
    border-bottom: 2px solid #FFEB3B;
    font-size: 20px;
}
.toborderbotvar strong {
    padding-bottom: 11px;
    display: inline-block;
}
.toborderbot {
    border-bottom: 2px solid #E91E63;
    font-size: 20px;
}
.arb_calcshares {
    margin-top: 5px;
}
ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
b, strong {
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}
.allcaps strong {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.entr_wrapper_top input {
    text-align: right;
    padding-right: 25px !important;
}
.bbbutton-sen {
    position: relative;
    bottom: 13px;
}
table.dstocklistitems.table.table-condensed.m-b-0.text-inverse.border-default {
    margin-top: 20px !important;
}

#tv_chart_container {
	width: 100% !important;
}
.tradingview-widget-container, div#tradingview_1cb87 {
	height: 100%;
}
div#tv_chart_container_manual {
	border: none !important;
}
.tradingview-widget-copyright {
	display: none;
}
div#tradingview_8c000 {
	height: 100%;
}
.nav-tabs {
	background: #34495e;
	padding-top: 4px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	font-family: "Roboto", Arial !important;
	font-weight: normal !important;
	padding: 0px 7px 0 3px !important;
	border: none !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #fff !important;
	background-color: #2c3e50 !important;
	border-radius: 0;
	padding-top:5px !important;
}
a.arb-btm-icon {
	float: left;
	text-align: center;
	width: 20%;
	font-size: 20px;
	color: #667f98;
	padding: 6px 0 0;
}
a.arb-btm-icon span {
	text-align: center;
	font-size: 11px;
	color: #fff;
	display:block;
}
a.arb-side-icon {
	text-align: center;
    font-size: 20px;
    color: #ffffff;
    display: inline-block;
    margin: 0 1px;
}
a.arb-side-icon span {
	text-align: center;
	font-size: 11px;
	color: #fff;
	display:block;
}
#stock-details, .wrapper.text-center.border-bottom-1.border-default {
	text-align: left !important;
}
.nav-tabs .nav-item, .nav-tabs.nav-justified>li, .nav-tabs>li {
	margin-bottom: 0;
	width: 50%;
	text-align: center;
	border-radius: 6px 6px 0 0 !important;
	overflow: hidden;
}
.nav>li>a:focus, .nav>li>a:hover,
.nav-tabs li:hover {border-radius:4px 4px 0 0 !important;}
small.arb_markcap {
	display: block;
	color: #ccc;
	font-size: 12px;
	font-weight: 300;
}
.arb_bottom_control_l {
	float:left;
	width:50%;
	max-width:700px;
}
.arb_bottom_control_r {
	float:right;
	width:270px;
}
.arb_right_icons_trans {display:block;}
/*background: rgba(0,0,0,0.3);*/
.arb_top_ticker {display:block;}
.hidesidebar {
	width: 3px !important;
	/*transition: all 0.1s ease;*/
	border-right: 0 !important;
	border-left: 4px solid #34495e !important;
}
/* svg {
	border: 2px solid white;
	border-radius: 20px;
	background: black;
} */
.arb_buysell {
	background-color: rgba(215, 215, 215, .15);
	position: absolute;
	left: -229px;
	top: 48px;
	padding: 5px 20px 5px 30px;
	border-radius: 10px;
}
.buttons {
	border-left: 1px solid white;
	padding-left: 3px;
}
.buysell-grip-btn {
	background: transparent;
	border: 0px;
	position: absolute;
	left: 12px;
	bottom: 8px;
    outline: none;
    cursor: pointer;
}
.fa-arrow-up {
	color: #25ae5f;
}
.fa-arrow-down {
	color: #e64c3c;
}
.ticker-enabler {
    display: grid;
    position: absolute;
    left: 45px;
    z-index: 10;
    /* position: absolute;
    z-index: 10;
    /* position: absolute;
    top: -4px;
    transform: scale(0.8);
    left: 45px;
    display: inline-grid;
    width: 56px; */
}
.arb_custom_ticker {
    left: 75px;
    text-align: right;
}
.ticker-enabler i {
    color: orange;
}
/* -------------------Ticker-Settings-modal------------------- */
.hidden_this-marquee {
    position: relative;
    display: block;
    overflow: hidden;
    height: 100%;
}
.ticker_container-toggle {
    display: block;
}
.view_ticker-toggle,
.sound_ticker-toggle,
.allstock_ticker-toggle,
.sectorial_ticker-toggle,
.watchlist_ticker-toggle,
.cheetah_ticker-toggle,
.rabbit_ticker-toggle,
.turtle_ticker-toggle {
    color: #d8d8d8;
    float: left;
    font-size: 12px;
    font-weight: 500;
}
span.data_ticker-toggle,
span.speed_ticker-toggle {
    display: block;
    text-align: left;
    position: absolute;
    left: 12px;
    margin-top: 4px;
    color: #d1d2d3;
}
.data_ticker_main-toggle,
.speed_ticker_main-toggle,
.ticker_main-toggle.sound {
    margin: 5px 0;
}
.data_ticker_main-toggle:first-child,
.speed_ticker_main-toggle:first-child{
    margin: 0 0 5px;
}
.data_checkboxes, .speed_checkboxes {
    background: #1e3554;
    padding: 1px 6px;
    border-radius: 2px;
    margin-bottom: 6px;
}
.ticker_main-toggle.sound {
    background: #1e3554;
    padding: 4px 6px;
    border-radius: 2px;
}
.ticker_content-toggle {
    text-align: right;
    width: 83%;
    margin: 0 0 0 auto;
    padding: 3px 7px;
}
hr.style14 {
    position: relative;
    border: 0;
    height: 1px;
    width: 100%;
    background: #1e3554;
    margin-top: 0.5rem;
    margin-bottom: 1.5px !important;
    display: flex;
}
span.ticker_enabler-title {
    color: #fff;
    font-size: 15px;
    display: block;
    padding: 10px 10px 2px;
}
span.ticker_enabler-text {
    display: inline-block;
}
.ticker_enabler-title .ticker_main-toggle {
    display: inline-block;
    float: right;
    margin-top: 2px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 31px;
    height: 17px;
    margin: 0;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4d6176;
    -webkit-transition: .4s;
    transition: .4s;
    font-size: 10px;
    color: #fff;
    padding-left: 1px;
    padding-top: 1px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  /* .slider:after {
    content: "on";
    left: 2px;
    position: absolute;
} */
  input:checked + .slider {
    background-color: #e67f26;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .btn.btn-xs {
    line-height: 18px;
    padding: 1px 5px;
    height: 17px;
    font-size: 10px;
}