.modal-content {
   	margin: 55px auto;
    width: 80%;
    background: #1a2d55;
}

.modal-body{
	padding-bottom: 0;
	padding-top: 0.3rem;
}

.entr_ttle_bar {
    width: 100%;
}
.btnsell{
	color: #d8d8d8;
    margin-left: 5px;
    padding: 3px 11px;
    border: 2px solid #e64c3c;
    border-radius: 15px;
}
.btnbuy{
	color: #d8d8d8;
    margin-left: 10px;
    margin-right: 5px;
    padding: 3px 11px;
    border: 2px solid #25ae5f;
    border-radius: 15px;
    background-color: #25ae5f;
}

.btnbuy:hover {
	cursor: pointer;
	background-color: #25ae5f;
}
.btnsell:hover {
	cursor: pointer;
	background-color: #e64c3c;
}

.groupinput.midd.lockedd {
   	width: 263px;
}

.desc{
	margin-top: -5px;
    /* font-weight: normal; */
    font-size: 14px;
}

.crice{
	float: right;
	font-size: 12px !important;
}

.cprice{
	color: #25ae5f;
    font-weight: bold !important;
}

.modal-header {
	border-bottom: 0px;
	padding: 1rem;
}
.modal-footer {
	border-top: 1px solid #6c6c6d;
}

.groupinput.midd label {
    width: 72px;
    background: #3b5a9a;
}
.details, .details2 {
	width: 165px;
	display: inline-block;
	font-size: 13px;
    font-weight: normal;
}

.arb_bar_green, .arb_bar_green_m {
    float: left;
    background-color: #25ae5f;
    color: #fff;
    padding: 2px 0;
    text-align: center;
    line-height: 0;
    border-radius: 5px 0 0 5px;
}

.arb_bar_red, .arb_bar_red_m {
    float: left;
    background-color: #e64c3c;
    color: #fff;
    padding: 2px 0;
    text-align: center;
    line-height: 0;
    border-radius: 0 5px 5px 0;
}

.arb_bar.fullbar {
	width: 340px;
	margin: 0 auto;
}

.bars {
	margin-top: 5px;
	display: grid;
}
.bidaskbar, .marketsents{
	text-align: center;
}

.marketsents {
	margin-top: 5px;
	margin-bottom: 5px;
}

.tdetails {
	font-size: 12px;
}

.avfunds {
	float: right;
	font-size: 11px !important;
}
.labelprice, .labelquantity {
	width: 72px !important;
}

.inputbuyprice, .inputquantity {
	width: 100px !important;
}
.footer_details {
	display: flex;
	margin-top: 5px;
}

.quantity {
	margin-left: 21px;
}

hr {
	margin-top: .3rem;
    margin-bottom: .3rem;
    border-top: 2px solid rgba(55, 96, 189, 0.62);
}

.selectstrategy select {
    width: 144px;
    margin: 0;
}

.entry_wrapper_mid {
	width: 160px;
	margin-top: 10px;
}

textarea.tnotes{
	width: 204px !important;
	height: 101px !important;
	background-color: #567cc7;
}

.footer_details2 {
	display: flex;
	margin-top: -5px;
}

.modal2-button-confirm {
    position: relative;
}

.details2 {
	float: right;
}

/* -------------- newsticker vyndue ---------------- */
#vyndue--link span {
    position: relative;
}
#vyndue--link span:after {
    position: absolute;
    display: inline;
    background: #e91e63;
    padding: 0px 6px;
    width: 42px;
    font-size: 9px;
    font-weight: 500;
    border-radius: 20px;
    content: "Try this";
    top: -10px;
    left: 41px;
}
#vyndue--link span:before {
    content: "";
    position: absolute;
    left: 46px;
    bottom: 7px;
    width: 0;
    height: 0;
    border-top: solid 7px #e91e63;
    border-left: solid 0px transparent;
    border-right: solid 7px transparent;
}
/* -------------- newsticker vyndue ---------------- */
.close_btn {
    color: red;
    background: transparent;
    border: 0;
    font-size: 30px;
    float: right;
    cursor: pointer;
}

.close_btnlogs {
    color: red;
    background: transparent;
    border: 0;
    float: right;
    cursor: pointer;
}

.entr_title_bar {
	width: 100%;
}

.bidaskbar {
	margin-bottom: 3px;
}

.confirm_order {
	color: white;
    background: #fcbb29;
    border: 0;
    padding: 4px 11px;
    font-size: 15px;
    border-radius: 6px;
}

.confirm_order:hover {
	cursor: pointer;
	color: black;
}

.groupinput select {
	background-color: #567cc7;
}

.groupinput.midd input {
	background-color: #567cc7;
}

.pdetails {
	float: right;
	font-weight: bolder !important;
}

.bbuy {
	width: 30px;
    height: 2px;
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 140px;
    background: #fcbb29;
    display: none;
}

.bsell {
	width: 30px;
    height: 2px;
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 215px;
    background: #fcbb29;
    display: none;
}

.close_btn:hover {
	background: #f9f3f3;
    border-radius: 20px;
}

.modal_logs {
    width: 72%;
}

.bsbutton {
	width: 150px;
    display: inline-block;
}
.label_enter {
	font-size: 16px !important;
    font-weight: 600 !important;
}

/* -------------- passwordmodal vyndue ---------------- */
#vynduemodals {
	top: 50px;
	margin-left: -43px;
	overflow: inherit;
}
#vynduemodals .modal-dialog .modal-content {
	border-radius: 5px;
	overflow: hidden;
	background: #142c46;
	width: 350px;
	margin: 0 auto;
}
#vynduemodals .modal-body {
	background: #142c46;
	color: #fff;
}
#vynduemodals .modal-body input#darbitpass {
	width: 100%;
	border: 1px solid #1d3553;
	background: #10273e;
	border-radius: 100px;
	padding: 5px 10px;
	/* margin-bottom: 9px; */
	font-size: 14px;
	color: #fff;
}
#vynduemodals .modal-body input#darbitpass:focus {
	outline: none;
}
#vynduemodals .modal-body input#subspass {
	background: none;
	border: 2px solid #e77e24;
	color: #fff;
	font-size: 12px;
	border-radius: 50px;
	padding: 5px 10px;
	display: inline-block;
	cursor: pointer;
}
#vynduemodals .modal-body input#subspass:hover {
	border: 2px solid #e77e24;
	background: #e77e24;
	color: #fff;
}
#vynduemodals .modal-body .vynduepassnow_cancel {
	background: none;
	border: 2px solid #F44336;
	color: #fff ;
	font-size: 12px;
	border-radius: 50px;
	padding: 5px 10px;
	display: inline-block;
	cursor: pointer;
}
#vynduemodals .modal-body .vynduepassnow_cancel:hover {
	border: 2px solid #F44336;
	background: #F44336;
	color: #fff;
}
.vynduepassnow--phar {
	margin-bottom: 5px;
	font-size: 13px;
	margin: 0 auto;
	line-height: 1.4;
	text-align: center;
}
.vynduepassnow--phar-bot {
	font-size: 11px;
	font-weight: 300;
	color: #9c9c9c;
	margin: 9px auto;
	line-height: 1.4;
	text-align: center;
}
.vynduepassnow--username-youornot {
	font-size: 11px;
	font-weight: 300;
	color: #c9c9c9;
	margin: 0 auto 10px;
	line-height: 1.4;
	text-align: center;
}
.vynduepassnow--username {
	font-size: 18px;
	font-weight: 500;
	text-align: center;
}
.vynduepassnow_vyndue-img {
	width: 31%;
	margin: 0 auto;
	display: block;
}
.vynduepassnow_user-img {
	width: 100%;
	border-radius: 100px;
}
.vynduepassnow_user-img-main {
	display: block;
	margin: 17px auto;
	width: 39%;
	height: 39%;
	border-radius: 100px;
	border: 3px solid rgba(101, 131, 168, 0.4196078431372549);
	padding: 4px;
	overflow: hidden;

	-webkit-box-shadow: 0px 0px 11px -2px rgba(8, 22, 38, 0.5);
	-moz-box-shadow: 0px 0px 11px -2px rgba(8, 22, 38, 0.5);
	box-shadow: 0px 0px 11px -2px rgba(8, 22, 38, 0.5);
}
.vynduepassnow_btns {
	margin: 18px 0 3px auto;
}

.sdesc {
	white-space: nowrap;
    text-overflow: ellipsis;
    width: 239px;
    display: inline-block;
    overflow: hidden;
}
/* -------------- passwordmodal vyndue ---------------- */