.um-activity-left.um-activity-actions > div {
    color: #fff;
    border-radius: 50px;
}
.um-activity-widget .um-activity-foot.status .um-activity-bearish a span.diconbase img {
    width: 13px;
}
.um-activity-widget .um-activity-foot.status .um-activity-like a > i {
    font-size: 14px;
    padding: 3px 7px;
}
.um-activity-widget .um-activity-foot.status .um-activity-like a {
    margin:0;
}

.um-activity-left.um-activity-actions > div .dnumof {
    padding: 6px 3px 6px 0;
    line-height: 1em;
    display: inline-block;
    margin-left: 5px;
    font-size: 13px;
}
.dtabspart ul li {
    color: #000;
}
.dtabspart ul.tabbutton > li {
    display: inline-block;
    line-height: 1em;
}
.dtabspart ul.tabbutton > li:hover {
    border-bottom: 2px solid #263646;
}
.dtabspart ul.tabbutton {
    margin: 0;
}
.totab {
    color: #000 !important;
}
.totab > div {
    display: none;
}
#dwatchlistmodal {
    color: #000;
}
.submitform {
    text-align: right;
    margin-top: -28px;
    width: 159px;
    float: right;
}
.dclosetab {
    display: none;
}
.dclosetab.active {
    display: block;
    margin-left: 27px;
    margin-right: 27px;
    box-shadow: -4px 4px 8px -2px rgba(4,13,23,0.7);
    background: linear-gradient(45deg, #0a1c31 0%,#1a3550 100%) !important;
}
.side-header .right-image .onto-user-name {
    margin-bottom: 0 !important;
}
.addwatchs {
    display: block;
    /* border: 1px solid #2c3e50; */
    padding: 10px 15px;
    /* float: left; */
    width: 100% !important;
    margin-right: 1%;
    border-radius: 5px;
    position: relative;
    min-height: 113px !important;
    margin-bottom: 15px;
    box-shadow: -4px 4px 8px -2px rgba(4,13,23,0.7);
    background: linear-gradient(45deg, #0a1c31 0%,#1a3550 75%) !important;
}
.stats-watch {
    font-size: 13px;
    font-weight: bold;
    color: #fffffe;
}
.box-portlet {
    overflow: visible;
}
.left-stats-watch {
    float: left;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    left: 1px;
    position: relative;
    color: #fffffe;
}
.right-stats-watch {
    float: right;
    text-align: right;
    font-size: 13px;
    font-family: Roboto, sans-serif;
    line-height: 1.7;
    right: 1px;
    position: relative;
}
.dinnerlist > ul > li {
    display: block;
    border: none;
    padding: 12px 18px 9px 18px;
    float: left;
    width: 46%;
    margin-right: 0%;
    border-radius: 5px;
    position: relative;
    min-height: 214px;
    background: #142c46;
    background: -moz-linear-gradient(45deg, #0a1c31 0%, #1a3550 100%);
    background: -webkit-linear-gradient(45deg, #0a1c31 0%,#1a3550 100%);
    background: linear-gradient(45deg, #0a1c31 0%,#1a3550 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a1c31', endColorstr='#1a3550',GradientType=1 );
    box-shadow: -4px 4px 8px -2px rgba(4,13,23,0.7);
    border-radius: 5px;
    margin: 10px;
}
.dinnerlist .dtockname {
    margin-top: 0 !important;
}
.dpricechange .curchange, .dpricechange .curprice {
    font-weight: normal !important;
}
.dplusbutton {
    padding: 60px 0px 0px 0px;
}


.dinnerlist .dparams ul li {
    width: 31.6%;
}
span.curchange {
    font-size: 15px;
    font-weight: normal;
    display: inline-block;
    margin: 0 7px 0 0;
}
.onred {color: #ea4d5c !important;}
.ongreen {color: #53b987 !important;}
.dinnerlist .dparams ul li > div.dvalue {
    font-size: 18px;
    width: 100%;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #132b46;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
}
.dpricechange .curprice {
    font-size: 22px;
    padding-top: 5px;
}
span.curprice {
    display: inline-block;
    margin: 0 3px 0 8px;
    font-size: 15px;
    font-weight: normal;
}
.curprice, .stocknn, .curchange {
    vertical-align: middle;
    line-height: 22px;
}
.stocknn {
    font-size: 20px;
    font-weight: bold;
    line-height: 1em;
    display: inline-block;
    padding: 0;
}
.wlttlstockvals {
    display: block;
    border-bottom: 1px solid #1e3554;
    width: 95%;
    margin: 0 16px;
    padding: 0px 0px 9px;
}
.dinnerlist > ul > li.addwatch {
    text-align: center;
}
.dplusbutton .dplsicon {
    font-size: 68px;
    line-height: 1em;
}
.dplusbutton .dplstext {
    font-size: 20px;
    text-transform: capitalize;
}

.dinnerlist > ul > li.addwatch:hover {
    background: #2c3e50;
    cursor: pointer;
}
.dinnerlist > ul > li.addwatch:hover .dplsicon,
.dinnerlist > ul > li.addwatch:hover .dplstext {
    color: #3b5269;
}
.dinnerlist .dtockname {
    /*display: inline-block;
    width: 40%;*/
    font-size: 13px;
    margin-bottom: 10px;
    text-align: right;
    margin-top: 20px;
}
.dinnerlist .dtype {
    /*display: inline-block;
    width: 40%;*/
    font-size: 13px;
}
.dinnerlist .deleteme > div {
    display: inline-block;
}
.dinnerlist .dparams {
    display: block;
    margin-top: 5px;
}
.dinnerlist .dparams ul li {
    display: inline-block;
}
.dinnerlist .dparams ul li > div {
    display: inline-block;
}
.dinnerlist .dparams ul li {
    display: inline-block;
    padding: 0;
    width: 32%;
    font-size: 11px;
    line-height: 1em;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 6px -3px rgba(4,13,23,0.7);
}
.dinnerlist .dparams ul li > div.dvalue {
    font-size: 19px;
    line-height: 1em;
    text-align: right;
    width: 100%;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #fff;
}
.dinnerlist .dparams ul li > div.dcondition {
    background: #173250ad;
    display: block;
    color: #fffffe;
    font-size: 10px;
    padding: 4px;
    text-align: left;
    text-transform: uppercase;
    line-height: 1em;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}
.dinnerlist .deleteme {
    text-align: right;
    position: absolute;
    top: -15px;
    right: -5px;
}
.dinnerlist .deleteme a {
    background: #2c3e50;
    color: #fff;
    font-size: 13px;
    padding: 6px 10px;
    border: 1px solid #2c3e50;
    border-radius: 30px;
}
.dinnerlist .deleteme a:hover {
    text-decoration: none;
}
.dinnerlist .deleteme a.removeItem {
    padding: 6px 10px;
}
.dinnerlist .deleteme a.editItem {
    padding: 6px 8px;
}
.condition-params {
    border-right: 1px solid #1e3554;
    margin-right: -15px;
}
/* #canceladd {
    padding: 0 18px !important;
} */
#main-header {
    z-index: 1;
}
.editpartme {
    display: none;
}
.asdasd{
    color: #ff1744;
    color: #00E676;

    color: #25ae5f;
    color: #d04234;
    color: #f0df3c;
    color: #c47d11;
}

/* Dropdown Button */
.dropbtn {

    color: white;

    cursor: pointer;

    display: inline-block;
    background-color: #11273e;
    padding: 4px 14px;
    border-radius: 25px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3b5269;
  /*color: #2c3e50;*/
}

/* The search field */
#myInput {
  border-box: box-sizing;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 13px;
  padding: 5px 15px;
  border-bottom: 1px solid #dddddd;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown-content .listofstocks {
    height: 120px;
    overflow-y: auto;
}
input#myInput {
    padding: 10px 10px;
    font-size: 13px;
    display: block;
    width: 100%;
}
.dropdown-content .listofstocks a {
  font-size: 13px;
  padding: 5px 10px;
  border-bottom: 1px solid #dddddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.dbox {
}
.dbox.boxsred .innerbox {
    background: #b93c2c;
}
.dbox.boxsgreen .innerbox {
    background: #52c27a;
}
.dbox .innerbox {
    border-radius: 50px;
    display: inline-block;
    padding: 5px 10px;
}
.dbox .innerbox .hidedis {
  display: none;
}
.dgencode {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
a#gencode {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    font-weight: lighter;
    background: #2b3e4f;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 15px;
}
a#gencode:hover {
  text-decoration: none;
}
.dcodegenerated {
    background: #33465c;
    font-size: 24px;
    margin-bottom: 15px;
    padding: 15px 0;
}
input.subbuttons {
    background: #2b3e4f;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: lighter;
    padding: 10px 15px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.innerreference {
    text-align: center;
}
.innerreference .notebig {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: lighter;
}
.innerreference h2 {
    background: #2b3e4f;
    width: 50%;
    margin: 10px auto;
    border-radius: 5px;
    line-height: 1em;
    padding: 20px 0;
}
.innerreference .notesmall {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: lighter;
}
.dcontainer .dchart {
    float: left;
    width: 75%;
}
.dcontainer .dpricechange {
    float: left;
    width: 25%;
    text-align: right;
}
.dpricechange .curprice {
    font-size: 24px;
    line-height: 1em;
    font-weight: bold;
}
.dpricechange .curchange {
    font-size: 18px;
    color: #52c27a;
    font-weight: bold;
    line-height: 1em;
}
.dpricechange .curchange.onred {
    color: #eb4d5c;
}
.dcontainer {
    margin-bottom: 10px;
}
.stocknn {
    font-size: 21px;
    font-weight: bold;
    line-height: 1em;
}
.dselectstockname > div {
    display: inline-block;
    margin-right: 10px;
}
.innerdeliver ul li {
    display: inline-block;
    margin-right: 10px;
}
.innerdeliver ul li input[type="checkbox"] {
    margin-right: 5px;
}
.condition-params > div {
    margin-bottom: 10px;
}
.condition-params > div select#condition-list {
    background: #2b405b;
    color: #fff;
    border: 0 none !important;
    color: #fff;
    display: block;
    width: 95%;
    padding: 5px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}
.condition-freq input#condition_frequency {
    background: #2b405b;
    border: 1px solid #32465a;
    color: #fff;
    padding: 5px 10px;
    width: 95%;
    border-radius: 5px;
}
.addtolist button.add-params {
   color: white;
   cursor: pointer;
   display: inline-block;
   background-color: #11273e;
   padding: 4px 14px;
   border-radius: 25px;
}
.addtolist {
    text-align: right;
    margin-right: 20px;
}
.dbaseitem .dinfodata {
    width: 90%;
    float: left;
    font-size: 15px;
    padding: 5px 10px;
}
.dbaseitem .closetab {
    width: 10%;
    float: left;
    text-align: center;
    background: #2c3e50;
}
li.dbaseitem {
    border: 1px solid #2c3e50;
    margin-bottom: 5px;
}
button#submitmenow,
button#canceladd {
   color: white;

    cursor: pointer;

    display: inline-block;
    background-color: #11273e;
    padding: 4px 14px;
    border-radius: 25px;
}
ul.listofinfo {
    margin: 0;
    padding: 0;
}
button.closemebutton {
    background: #2a405b;
    color: #fff;
    border: 0 none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}
li.dbaseitem {
    border: 1px solid #2a405b;
    background: #2a405b;
    border-radius: 5px;
}
h2.watchtitle {
    font-size: 19px;
    padding: 0;
    margin: 0;
}
.dmodaleditwatch .modal-header h5 {
    color: #fff !important;
    line-height: 1em;
    margin: 0;
    padding: 0;
}
.dmodaleditwatch .modal-header {
    padding: 10px;
}
.dmodaleditwatch .modal-header button.close {
    padding: 10px 20px;
    color: #fff;
}
.dmodaleditwatch .modal-header {
    padding: 10px;
    border-bottom: 1px solid #3b5269;
}
.dmodaleditwatch .modal-header {
    padding: 0;
}
.dmodaleditwatch .modal-header h5 {
    line-height: 1em;
    padding-bottom: 0;
}


.dssinner .dleftpart {
    width: 20%;
    float: left;
}

.dssinner .drightpart {
    width: 80%;
    float: left;
}

.drefmeninner .leftpart {
    width: 20%;
    float: left;
}
.drefmeninner .rightpart {
    width: 80%;
    float: left;
}
.dsidemenu ul li a {
    color: #fff;
}
.ditem.fullwid {
    width: 100%;
    float: left;
}
.ditem.halfwid {
    width: 50%;
    float: left;
}
.dbillitem > div {
    display: inline-block;
    width: 30%;
}
.listofcoms li > div {
    display: inline-block;
    width: 30%;
}
.dlistinner ul li > div {
    display: inline-block;
    width: 30%;
}
.dlistinner.dmemberblock ul li > div {
    display: inline-block;
    width: 49%;
}
.dlistinner.dmentorblock ul li > div {
    display: inline-block;
    width: 24%;
}
.dadminusermods {
    margin-top: 10%;
}
.dadminusermods h5#exampleModalLongTitle {
    color: #333;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1em;
}
.dadminusermods button.close {
    padding: 10px;
    line-height: 1em;
    font-size: 20px;
}
.dadminusermods .modal-header {
    padding: 10px 15px;
}
.innermods {
    color: #333;
}
.dseparator h3 {
    font-size: 16px;
    text-transform: uppercase;
    padding: 2px;
    margin-bottom: 2px;
    line-height: 1em;
    border-bottom: 1px solid #333;
    font-weight: bold;
}
.dprofdatainner {
    margin-bottom: 10px;
}
.dprofpicinner {
    /*border-radius: 150px;
    overflow: hidden;
    border: 5px solid #333;*/
    position: relative;
}
.dprofpicinner img {
    border-radius: 150px;
    border: 5px solid #d3d3d3;
}
.dadminusermods .modal-body {
    padding: 15px 0;
}
.ditem {
    border: 1px solid #fff;
    margin: 5px 0;
}
.dmentorfollowmodalb h5#exampleModalLongTitle {
    color: #333;
    font-size: 16px;
    padding: 0;
    line-height: 1em;
}
.dmentorfollowmodalb .modal-header {
    padding: 10px;
    text-align: right;
    display: block;
    line-height: 1em;
}
.dmentorfollowmodalb button.close {
    font-size: 16px;
    padding: 0;
    margin: 0;
    float: none;
}
.dmentorfollowmodalb .modal-body {
    color: #333;
}
.dlistinner.dmentorblock .dmentorfollowmodalb ul li > div {
    width: 30%;
}
.tradelogtable .dreditem {
    color: #e64b3c;
    font-weight: bold;
}
.tradelogtable .dgreenitem {
    color: #27ae60;
    font-weight: bold;
}
.lisrofactivity table {
    width: 100%;
}
.dstockdetails .ditmleft,
.dstockdetails .ditmright {
    display: inline-block;
    width: 45%;
}
.ddetails {
    margin-bottom: 30px;
}

.innerdeliver {
    padding: 15px 0px;
}

.dcondition {
    color: #fff;
    font-size: 13px;
}
.popname ul {
    margin: 0;
    padding: 2px 9px;
    text-align: left;
}
.popname ul li {
    display: inline-block;
    padding: 5px 5px;
    line-height: 1em;
    color: #6482a769;
    border: 1px solid #1e3554;
    border-radius: 5px;
    margin: 1.5px;  
    font-size: 13px;
}
.popname ul li:hover {
    transition-duration: 2s;
    background: #123;
    cursor: pointer;
}



/* BOF Trending Stocks */
.fa-sort-down {
    color: #d8d8d8;
}
.fa-sort-up {
    color: #d8d8d8;
}
.see-more-btn strong {
    color: #d8d8d8;
}
.see-more-btn i {
    color: #d8d8d8;
}
.top-stocks .to-content-part ul .even span {
    border: 2px solid;
    height: 42px;
    width: 42px;
    line-height: 40px;
    font-size: 11px !important;
    text-align: center;
    display: block;
    border-radius: 25px;
}
.top-stocks .to-content-part ul .even a{
    width: 75%;
}
.top-stocks .to-content-part ul .odd a{
    width: 75%;
}

.top-stocks .to-content-part ul .even {
    display: inline-flex;
    text-overflow: ellipsis;
    width: 98%;
    padding: 7px;
    padding-left: 11px;
}
.top-stocks .to-content-part ul .odd {
    display: inline-flex;
    text-overflow: ellipsis;
    width: 98%;
    padding: 7px;
    padding-left: 11px;
}
.top-stocks .to-content-part ul .odd span {
    border: 2px solid;
    height: 42px;
    width: 42px;
    line-height: 40px;
    font-size: 11px !important;
    text-align: center;
    display: block;
    border-radius: 25px;
}
.watch-list-inner .to-content-part .even tr:last-child {
    border-bottom: none !important;

}
.watch-list-inner .to-content-part {
    padding-top: 0 !important;
}
.top-stocks {
    background-color: #142c46;

}
.top-stocks .to-top-title {
    padding-top: 10px !important;
    padding-left: 15px !important;
    padding-bottom: 0 !important;
    margin-bottom: 7px !important;
}
.to-bottom-seemore {
    padding: 0px 0px 8px 16px;
    font-size: 12px !important;
    font-weight: 300 !important;
}
.hide-show {
    display: none;
}
.right-dashboard-part {
    float: left;
    width: 27%;
    padding: 21px 0px !important;
}
.to-bottom-seemore {
    cursor: pointer;
    font-weight: 500;
}
.top-stock .to-content-part {
    padding-bottom: 0 !important;
}
.top-stocks .to-content-part ul li a {
    padding: 2px 10px !important;
}
.top-stocks .to-content-part ul .even a p{
    color: #999999 !important;
    margin-bottom: 0;
}
.top-stocks .to-content-part ul .odd a p{
    color: #999999 !important;
    margin-bottom: 0;
}
.top-stocks .to-content-part {
    padding-bottom: 0 !important;
min-height: 126px;
}
.gravatar .avatar .avatar-80 .um-avatar .um-avatar-default {
    top: 17px !important;
    bottom: 8px !important;
    position: relative !important;
}
/* EOF Trending Stocks */

/* BOF footer styles */
html {margin-top: 0 !important;}
#wpadminbar {display:none !important;}
body.admin-bar.et_fixed_nav #main-header, body.admin-bar.et_fixed_nav #top-header, body.admin-bar.et_non_fixed_nav.et_transparent_nav #main-header, body.admin-bar.et_non_fixed_nav.et_transparent_nav #top-header {top: 0 !important;}
.et_fixed_nav.et_show_nav #page-container, .et_non_fixed_nav.et_transparent_nav.et_show_nav #page-container {padding-top: 54px;}
/* EOF footer styles */