.hideformodal {
    display:none !important;
}
.btn-tradelog {
    border-radius: 0px;
    margin: 10px 0px;
    background: #273647;
    border: 1px solid #273647;
    font-weight: 600;
}

.side-header .right-image .onto-user-name {
    margin-bottom: 5px;
    text-transform: capitalize !important;
}

.onto-user-name {
    font-size: 13px;
    padding-left: 12px;
    color: #fffffe;
    padding-top: 10;
    margin-bottom: 0px !important;
}

.table{
    margin-bottom: 0px !important
}
.buySell__date-picker {
    background-color: #34495e;
    color: white;
    border-radius: 10px;
    border: 1px solid #28b1dc;
    margin-left: 5px;
}

tr.to-watch-data td {
    display: table-cell;
    vertical-align: middle;
    padding:12px 5px;
    color:#ecf0f1;
    position:relative;

}
.to-watch-data {
    border-bottom: #1e3554 solid 1px;
}
td.to-stock {
    margin-left:10px;
}

.table td, .table th {
    border-top:none !important;
}

.dbox.red {
    padding: 6px 7px;
    background: #eb4d5c;
    border-radius: 50px;
}

.dbox.green {
    padding: 6px 12px;
    background: #53b987;
    border-radius: 50px;
}

td.to-stock a {
    margin-left: 7px;
}
.stockperc {
    width: 42px;
    text-align: center;
}
.trading-name {
    font-family: 'Nunito', sans-serif;
    color: #999999;
    font-size: 13px;
    padding-left: 10px;
}
.one {
    font-weight: 500;
}
.two {
    font-weight: 500;
    margin-top: 13px;
}
.two a {
    border-radius: 4px;
}
.third {
    font-weight: 500;
}
.fourth {
    font-weight: 500;
}
.five {
    font-weight: 500;
}
.side-content-inner {
    margin-top: 10px !important;
}
.site-header {
    padding-bottom: 0px !important;
    margin-bottom: 22px !important;
    padding: 0px 0px 0px 0px !important;
}
.active {

}
#mingle-btn {
    border-radius: 26px !important;
    border: 1.3px solid #e77e24 !important;
    padding: 5px 14px !important;
    font-family: 'Nunito', sans-serif;
    color: #6583a8;
}
#removes-btn {
    border-radius: 26px !important;
    border: 1.3px solid #6583a8 !important;
    padding: 5px 11px !important;
    font-family: 'Nunito', sans-serif;
    color: #6583a8;
    margin-left: 3px !important;
}
a.add-btn {

}
.true-name {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 500;
}
.following-people {
    width: 33.3%;
    float: left;
    text-align: left;
    font-size: 12px;
    color: #999999;
    font-family: 'Nunito', sans-serif;
    display: inline-block;
}
.your-posts {
    width: 28.3%;
    text-align: left;
    font-size: 12px;
    color: #999999;
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    float: left;
    margin-left: 1px;
}
.your-followers {
    width: 31.3%;
    text-align: left;
    font-size: 12px;
    color: #999999;
    font-family: 'Nunito', sans-serif;
    display: inline-block;
}
.num-followers {
    font-size: 12px;
    color: #fffffe;
}
.num-posts {
    font-size: 12px;
    color: #fffffe;
}
.num-following {
    font-size: 12px;
    color: #fffffe;
}
.top-traiders-inner {
    padding-top: 0px;
       padding-left: 4px;
}
.dplsicon {
    display: inline-block !important;
    float: right;
}
.dplsicon a {
    color: #fff
}
.um-activity-head {
    border-radius: 6px 6px 0 0;
    padding-top:13px;
    padding-bottom: 9px !important;
}
.um-activity-author-meta {
    padding-top: 4px;
    padding-left: 11px;
}
.hidden-bttn {
    visibility: hidden;
}
.hidden-bttn:hover {
    cursor: pointer;
}
.traider-inner:hover .hidden-bttn{
    visibility: visible;
}
.hidden-bttn {
    color: black;
    font-size: 14px;
    float: right;
    color: #fff;
}
.remm-sm {
    display: none;
    margin-top: -1px;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 22px;
    color: #fff;
    background-color: #2b405b;
    font-size: 10px;
    padding: 6px 10px;
    border-radius: 25px;
}
.hidden-bttn:hover .remm-sm {
    display:block;
}
.drop-over-post {
    color: #fff;
    font-size: 20px;
    margin-top: 7px;
    margin-right: 7px;
}
.to-content-part {
    background: none;
}
.top-stocks .to-content-part ul li.even,
.watch-list-inner .to-content-part ul li.even {
    background: none;
}
.to-content-part {
    background: #142c46;
}
.um-activity-widget .um-activity-foot.status {
    background: #142c46;
    padding: 9px 0px 0px 0px;
    border: 0 none;
}
hr.style15 {
    border: 0;
    height: 1px;
    width: 100%;
    top: 41px;
    position: absolute;
    background-image: -webkit-linear-gradient(left, #1e3554, #1e3554, #1e3554);
    margin-top: 0rem !important;
    margin-bottom: 2.5px !important;
    display: flex;
}
hr.style11 {
    border: 0;
    height: 1px;
    width: 100%;
    background-image: -webkit-linear-gradient(left, #1e3554, #1e3554, #1e3554);
    margin-top: 0.5rem !important;
    margin-bottom: 1.5px !important;
    display: flex;
}
hr.style10 {
    border: 0;
    height: 1px;
    width: 96%;
    background-image: -webkit-linear-gradient(left, #1e3554, #1e3554, #1e3554);
    margin-top: 10px !important;
    margin-bottom: 3px !important;
}
.top-traiders .to-content-part .trader-item .traider-image {
    width: 20%;
    display: inline-block;
    margin-top: 5px;
    margin-right: 12px;
}
.um-activity-widget .upload {
    padding: 9px 10px;
    top: -4px;
}
.upload.photo-upload-cont:hover {
    background-color: #0d1f33 !important;
}
.um-activity-widget .um-activity-foot.status .um-activity-bullish a span.diconbase {
    background: #2d3d51;
    padding: 7px 6px;
    border-radius: 50px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.um-activity-widget div.um-activity-textarea textarea,
.um-activity-widget div.um-activity-textarea textarea:hover,
.um-activity-widget div.um-activity-textarea textarea:focus {
    height: 90px !important;
    border-radius: 0 !important;
    padding: 22px 15px 10px 65px !important;
}
img.arb_newpostimg {
    width: 41px !important;
}
.add-post .um-activity-widget .um-activity-ava a {
    width: 41px;
    height: 41px;
}
.to-content-part {
    padding: 5px;
}
.um-activity-dialog.um-activity-tool-dialog {display:none;}
.top-stocks .to-content-part ul li a {
    display: block;
    padding: 11px 10px;
    font-size: 12px;
    color: #ecf0f1;
    white-space: nowrap;


    overflow: hidden;
    text-overflow: ellipsis;
}
/* Calendar Overrides */
/*.month-container.col-xs-3 {
    border: none;
    border-radius: 5px;
    overflow: hidden;
    background: #142c46;
    background: -moz-linear-gradient(45deg, #0a1c31 0%, #1a3550 100%);
    background: -webkit-linear-gradient(45deg, #0a1c31 0%,#1a3550 100%);
    background: linear-gradient(45deg, #0a1c31 0%,#1a3550 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a1c31', endColorstr='#1a3550',GradientType=1 );
    box-shadow: -7px 8px 8px -3px rgba(4,13,23,0.3);
    padding: 15px 0 0 0px;
    height: 245px;
    width: 23%;
    margin: 0 15px 15px 0px;
}*/
.calendar .calendar-header table th {
    font-size: 18px;
    padding: 10px 10px;
}
.calendar .calendar-header table th:hover {
    background-color: transparent !important;
    color: #01afc8 !important;
}
.calendar .calendar-header {
    width: 100%;
    margin-bottom: 20px;
    background: #142c46;
    background: -moz-linear-gradient(45deg, #0a1c31 0%, #1a3550 100%);
    background: -webkit-linear-gradient(45deg, #0a1c31 0%,#1a3550 100%);
    background: linear-gradient(45deg, #0a1c31 0%,#1a3550 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a1c31', endColorstr='#1a3550',GradientType=1 );
    box-shadow: -7px 8px 8px -3px rgba(4,13,23,0.3);
    border: none;
}

/* Journal Overrides */
/*	.inner-placeholder {
    padding-top: 0 !important;
}*/
.searchbar input[type="text"] {
    height: 26px !important;
}
.searchbar {margin-left: 3px !important;}
.left-dashboard-part {padding: 19px 0px 0 !important;}
.oncommonsidebar .post-content {
    padding: 0 0 0 15px;
}
.panel-primary>.panel-heading {
    color: #fff;
    border: none;
    background: transparent;
    padding:0;
}
.journaltabs ul.nav.panel-tabs a {
    border-bottom: 3px solid rgba(18, 40, 64, 0.5);
}
.journaltabs li {
    width: 33.3%;
    text-align: center;
}
.journaltabs .nav>li>a {
    padding: 15px 0;
    border-radius: 6px 6px 0 0;
}
.journaltabs .nav>li>a:hover,
.journaltabs .nav>li>a:focus {
    background-color: rgba(18, 40, 64, 0.8);
}
.journaltabs ul.nav.panel-tabs a.active {
    border-bottom: 3px solid #01afc8;
    background-color: rgba(18, 40, 64, 0.5);
    color: #fff;
}

.fundtabs ul.nav.panel-tabs a.active {
    border-bottom: 3px solid #01afc8;
    background-color: rgba(18, 40, 64, 0.5);
    color: #fff;
}

.fundtabs .nav>li>a:hover,
.fundtabs .nav>li>a:focus {
    background-color: rgba(18, 40, 64, 0.8);
}
.modalfund {
    height: 200px;
}

.gain_c {
    background-color: rgba(37, 174, 95, 0.5);
}
.gain_c:hover {
    background-color: rgba(37, 174, 95, 1) !important;
}
.gain_c {
    background-color: rgba(37, 174, 95, 0.5);
}
.gain_c:hover {
    background-color: rgba(37, 174, 95, 1) !important;
}
.loss_c {
    background-color: rgba(230, 76, 60, 0.5);
}
.loss_c:hover {
    background-color: rgba(230, 76, 60, 1) !important;
}
.blue_c {
    background-color: rgba(69, 166, 255,0.5);
}
.blue_c:hover {
    background-color: rgba(69, 166, 255,1.0) !important;
}
.box-portlet {
    border: none;
    border-radius: 5px;
    overflow: hidden;
    background: #142c46;
    background: -moz-linear-gradient(45deg, #0a1c31 0%, #1a3550 100%);
    background: -webkit-linear-gradient(45deg, #0a1c31 0%,#1a3550 100%);
    background: linear-gradient(45deg, #0a1c31 0%,#1a3550 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a1c31', endColorstr='#1a3550',GradientType=1 );
    box-shadow: -7px 8px 8px -3px rgba(4,13,23,0.3);
}
.box-portlet-header, .box-portlet-footer {
    background: transparent;
    font-weight: bold;
    padding: 13px 17px 0px 17px;
    font-size: 17px;
    text-align: left;
}
.nav>li>a {
    color: #999;
}
.box-portlet-content {
    padding: 15px;
}
.panel-primary {
    border: none;
    background: transparent;
}
.inner-center-dashboard {margin-top: 27px;}
.panel-body {padding: 15px 0;}
.inner-portlet .inner-portlet-title {
    background: #213f58;
}
.dstatstrade ul li.headerpart {
    background: rgba(36, 65, 90, 0.4) !important;
    padding: 10px 15px;
    margin-bottom: 0;
    text-align: center !important;
}
.dstatstrade ul li.headerpart.headerpart-tradelogs {
    text-align: left !important;
}
.dstatstrade ul li {
    line-height: 150%;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    border-bottom: 1px solid #18314a;
}
.inner-portlet-content {
    font-size: 12px !important;
    line-height: 150% !important;
}
.box_inner_adjust {
    padding: 15px !important;
    background-color: rgba(33, 63, 88, 0.5);
    border-radius: 5px;
    line-height: 180% !important;
}

/* AMChart */
.amcharts-main-div a {display:none !important;}
.piemp_override {
    padding: 0px;
    background-color: #0d1f33;
    border-radius: 5px;
    margin-top: 35px;
    min-height: 215px;
    padding-top: 9px;
}
#chartdiv1 {
    width: 100%;
    height: 230px;
    overflow: visible !important;
}
#chartdiv1 .amcharts-main-div {
    margin-top: -37px;
}
#chartdiv2 {
    width: 100%;
    height: 250px;
}
#chartdiv3 {
    width: 100%;
    height: 200px;
}
#chartdiv4a {
    width: 100%;
    height: 212px;
}
#chartdiv4b {
    width: 100%;
    height: 245px;
}
#chartdiv5 {
    width: 100%;
    height: 260px;
    margin-top: -70px;
}
#chartdiv6 {
    width: 100%;
    height: 233px;
}
#chartdiv7 {
    width: 100%;
    height: 200px;
}
#chartdiv8 {
    width: 100%;
    height: 200px;
}
#chartdiv9 {
    width: 100%;
    height: 200px;
}
#chartdiv10 {
    width: 100%;
    height: 200px;
}
#chartdiv11 {
    width: 100%;
    height: 200px;
}
#topstockswinners {
    width: 100%;
    height: 230px;
}
#topstocksLosers {
    width: 100%;
    height: 230px;
}
.hidethis {
    display:none !important;
}
.tradelogbox {
    max-width:450px;
    width:100%;
}
.stats-info {
    
}
.dstatstrade ul li {
    background: rgba(17, 34, 51, 0.4);
}
/* Minitable overrides */
.widthfull, .widthhalf, .width60, .width40 {display: inline-block;}
.widthfull {width: 100% !important;}
.widthhalf {width: 50% !important;}
.width60 {width: 57% !important;color:#fff;}
.width48 {width: 49% !important;}
.width40 {width: 40% !important;}
.width35 {
    width: 40% !important;
    text-align: right;
    color:#fff;
}
.dstatstrade ul li:hover {
    background: rgba(10, 29, 50, 0.5);
}
.inner-portlet .inner-portlet-content {
    padding: 0;
}
.bulletclrd {
    border-radius: 50px;
    height:10px;
    width:10px;
    display:inline-block;
    margin-right: 5px;
}
.bulletclrd.clrg1 {background-color: #25ae5f; } /* green 1 */
.bulletclrd.clrg2 {background-color: #49bb79; } /* green 2 */
.bulletclrd.clrg3 {background-color: #a9f7ae; } /* green 3 */

.bulletclrd.clrr1 {background-color: #ff1744; } /* red 1 */
.bulletclrd.clrr2 {background-color: #ec5f50; } /* red 2 */
.bulletclrd.clrr3 {background-color: #ef7062; } /* red 3 */

.bulletclrd.clrb1 {background-color: #1590ff; } /* blue 1 */
.bulletclrd.clrb2 {background-color: #4faafc; } /* blue 2 */
.bulletclrd.clrb3 {background-color: #87c3f9; } /* blue 3 */

.bulletclrd.clrg1 {background-color: #25ae5f; } /* green 1 */
.bulletclrd.clrg2 {background-color: #49bb79; } /* green 2 */
.bulletclrd.clrg3 {background-color: #a9f7ae; } /* green 3 */

.dstatstrade.overridewidth ul li div {
    width: auto;
    text-align: left;
}

    /* Enter Trade Form */
.groupinput label {
    display: inline-block;
    width: 46px;
    font-weight: 300;
    font-size: 13px;
    height: 27px;
    line-height: 27px;
    padding: 0 0 0 7px;
    background-color: #34495e;
    border: none;
    color: #ecf0f1;
    border-radius: 3px 0 0 3px;
    margin-bottom: 0;
}
.groupinput input[type="text"], .groupinput input[type="number"] {
    display: inline-block;
    border-radius: 0 3px 3px 0;
    width: 172px;
    font-weight: 300;
    font-size: 13px;
    height: 27px;
    line-height: 27px;
    padding: 0 0 0 7px;
    background-color: #4e6a85;
    border: 1px solid #4e6a85;
    color: #ecf0f1;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
}
.groupinput select {
    display: inline-block;
    border-radius: 0 3px 3px 0;
    width: 140px;
    font-weight: 300;
    font-size: 13px;
    height: 27px;
    line-height: 27px;
    padding: 0 0 0 3px;
    background-color: #4e6a85;
    margin: 0 0 0 -4px;
    border: 1px solid #4e6a85;
    color: #ecf0f1;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.confirmtrd,
input[type="submit"].green {
    border: #27ae60 solid 2px !important;
    background: none;
    line-height: 29px;
    font-size: 14px;
    padding: 0 12px;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}
.confirmtrd:hover,
input[type="submit"].green:hover {
    background-color: #e64c3c;
    color: #fff;
    text-decoration:none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    transform: scale(1.07);
}
.confirmtrd,
input[type="submit"].red {
    background: none;
    line-height: 29px;
    font-size: 14px;
    padding: 0 12px;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}
.confirmtrd:hover,
input[type="submit"].red:hover {
    background-color: #e64c3c;
    color: #fff;
    text-decoration:none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    transform: scale(1.07);
}
div#fancybox-overlay {
    background-color: rgb(0, 0, 0) !important;
}

.confirmtrd.green {
    background-color: none;
    border: 2px solid #27ae60 !important;
}
.confirmtrd.green:hover {
    background-color: #27ae60 !important;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    transform: scale(1.07);
}
.confirmtrd.red {
    background-color: none;
    border: 2px solid #e64c3c !important;
}
.confirmtrd.red:hover {
    background-color: #e64c3c !important;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    transform: scale(1.07);
}
.groupinput {
    margin-bottom: 10px;
}
textarea.darktheme {
    background-color: #4e6a85;
    border: 1px solid #4e6a85;
    height: 115px;
    max-width: 448px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #ecf0f1;
    margin-top: 10px;
}
.entr_col {
    width:33%;
    float:left;
}
.entr_clear {clear:both;}
.selltrade,
.entertrade {
    width: 720px;
    margin: auto;
}
.groupinput.midd label {
    width:80px;
}
.groupinput.midd select {
    width:157px;
}
.groupinput.midd input {
    width:138px;
    text-align: right;
    padding-right: 20px;
}
.entr_wrapper_top {
    padding:20px 0 15px 20px;
    background-color:#0c1f33;
}
.entr_wrapper_mid {
    padding: 20px 0 2px 20px;
    background-color: #142b46;
    border-radius: 4px;
    min-height: 230px;
}
.entr_wrapper_bot {
    padding:25px 0 25px 25px;
    background-color:#2c3e50;
}
.rnd {border-radius:3px !important;}
.selectonly select {
    width:219px;
    margin:0;
}
.entr_ttle_bar {
    background-color: #34495e;
    padding: 12px;
    border-radius: 4px;
}
.entr_ttle_bar img {
    width: 22px;
    vertical-align: middle;
    margin: 0 7px 0 0;
}
.entr_ttle_bar strong {
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700 !important;
    vertical-align: middle;
}
.entr_successmsg {
    border-radius: 3px;
    background-color: #27ae60;
    color: #fff;
    padding: 4px 7px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}
span.selldot {
    display: inline-block;
    background-color: #e84c3c;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    vertical-align: middle;
    margin: -1px 0 0px 5px;
}
span.buydot {
    display: inline-block;
    background-color: #27ae60;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    vertical-align: middle;
    margin: -1px 0 0px 5px;
}
span.datestamp_header {
    font-size: 12px;
    color: #a1adb5;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0px 10px;
}

.fctnlhdn {
    visibility:hidden;
    opacity:0;
    position:absolute;
    z-index:-1;
}
.fa-lock {
    color: white;
}
/* Popup Overrides */
div#fancybox-content {
    border-color: #0c1f33 !important;
    background: #0c1f33 !important;
}
#fancybox-outer {
    background: #2c3e50 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-radius: 6px;
    overflow: hidden;
}
#fancybox-close {top: 18px;right: 18px;}
.lockedd {position:relative;}
.lockedd i.fa.fa-lock {
    top: 7px;
    position: absolute;
    right: 21px;
    font-size: 14px;
}

/* Table CSS */
.tradelogtable {
    width:100%;
    margin-bottom:0;
}
.tradelogtable td {
    padding: 2px;
}
textarea.darktheme::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ecf0f1;
}
textarea.darktheme::-moz-placeholder { /* Firefox 19+ */
    color: #ecf0f1;
}
textarea.darktheme:-ms-input-placeholder { /* IE 10+ */
    color: #ecf0f1;
}
textarea.darktheme:-moz-placeholder { /* Firefox 18- */
    color: #ecf0f1;
}
.tradelogscont {
    background-color:#34495e;
    max-width:1125px;
    width:100%;
    margin:0 auto;
}
.tradelogscont .innerr {
    padding:25px 0;
}
a.smlbtn {
    background-color: #e64c3c;
    color: #fff;
    padding: 2px 8px;
    display: inline-block;
    font-size: 11px;
    border-radius: 4px;
    font-weight: normal;
    text-decoration:none;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
a.smlbtn.blue {
    line-height: 19px;
    padding: 1.5px 6.63px;
    text-align: center;
    border: 2px solid #3597d3;
    background-color: transparent;
    border-radius: 20px;
    color: #fff;
    font-size: 10px;
}
a.smlbtn.blue:hover {
    background-color: #3597d3;
    color:#FFFFFF;
}
.smlbtn.green {
    background-color: transparent;
    border: 2px solid #27ae60;
    color: #ffffff;
    margin-right: -5p;
    line-height: 14px;
    border-radius: 15px;
    padding: 2px 6px 2px 6px;
    width: 47px;
    text-align: center;
}
a.smlbtn.green:hover {
    background-color: #27ae60;
    color:#FFFFFF;
}
a.smlbtn.red {
    background-color: transparent;
    border: 2px solid #e64c3c;
    color: #fff;
    margin-right: 0;
    line-height: 14px;
    border-radius: 15px;
    padding: 2px 7px;
    width: 47px;
    text-align: center;
}
a.smlbtn.red:hover {
    background-color: #e64c3c;
    color:#FFFFFF;
}
a.smlbtn:hover {
    background-color: #bb3527;
}
/* .dstatstrade ul li div {color:#fff;} */
.dstatstrade.overridewidth ul li div.ddetailshere,
.dstatstrade.overridewidth ul li div.ddetailshere .inner {
    width: 100%;
}
.dstatstrade.overridewidth ul li div.ddetailshere table {
    display: block;
    width: 100%;
}
.dspecitem .ddetailshere {
    display: none;
}
.txtgreen {color: #27ae60 !important;}
.txtred {color: #e64c3c !important;}
.entr_ttle_bar {color:#fff;}
.trdlgsbox {
    color:#FFFFFF;
    padding:10px;
}
.trdleft {
    width:100%;
    float:left;
}
.trdright {
    width:50%;
    float:left;
}
.trdclr {
    clear:both;
}
.darkbgpadd {
    background-color: #4e6a85;
    padding: 11px 12px;
    border-radius: 6px;
    width: 100%;
    max-height: 230px;
    overflow: auto;
}
.darkbgpadd::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 11px;
    background-color: #0f121d;
}

.darkbgpadd::-webkit-scrollbar
{
    width: 8px;
    border-radius: 10px;
    background-color: none;
}

.darkbgpadd::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #34495e;
}
.onelnetrd {
    line-height: 25px;
    background: #4e6a85;
    margin: 0 0 9px 0;
    border-radius: 6px;
}
.modal-notes-ftitle {
    display: inline-block;
    line-height: 30px;
    background-color: #34495e;
    padding: 0 0 0 10px;
    border-radius: 5px 0 0 5px;
}

.modal-notes-ftitle strong{
    color: #a1adb5;
}
span.modal-notes-result {
    float: right;
    line-height: 20px;
    background: none;
    border: none;
    color: #ecf0f1;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    border-radius: 0 5px 5px 0;
    width: 137px;
    padding: 6px 10px 3px 10px;
    text-align: right;
}
.modal-notes-result-toleft {
    text-align: left !important;
}
.onelnetrd > span {
    width:50%;
}
.dredpart {
    color: #e44c3c !important;
}
.dgreenpart {
    color: #27ae60 !important;
    text-align: right;
}
.dltbutton {
    width: auto;
    float: right;
}
.delete-data-btn {
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #f1f3f4;
    background: none;
    border: 2px #e91e63 solid;
    height: auto;
    border-radius: 25px;
    padding: 3px 9px;
}
.enter-trade-btn {
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #ffffff;
    background: none;
    border: 2px #00bcd4 solid;
    height: auto;
    border-radius: 25px;
    padding: 3px 9px;
}
.enter-trade-btn:hover {
    color: white;
    background-color: #00bcd4;
}
.dbuttondelete {
    display: inline-block;
    margin: 0px 5px;
}
.dbuttonenter {
    display: inline-block;
    margin-right: 20px;
}
input.delete-data-btn:hover {
    background: #e91e63;
    transition: all .3s ease-out;
}
input.enter-trade-btn:hover {
    background: #00bcd4;
    transition: all .3s ease-out;
}
.dividend-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #6583a8 !important;
    background: none;
    border: 1px #6583a8 solid;
    height: auto;
    border-radius: 25px;
    padding: 3px 9px 4px 9px;
    font-weight: 500;
    text-decoration: none;
}
.dividend-btn:hover {
    color: #fff;
    text-decoration: none;
    background: #123;
    transition: all .3s ease-out;
}
.deposit-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #6583a8 !important;
    background: none;
    border: 1px #6583a8 solid;
    height: auto;
    border-radius: 25px;
    padding: 3px 9px 4px 9px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 3px
}
.deposit-btn:hover {
    color: #fff;
    text-decoration: none;
    background: #123;
    transition: all .3s ease-out;
}
.deposit-modal-btn {
    cursor: pointer;
    z-index: 999;
    position: relative;
}
.deposit-modal-btn:hover {
    text-decoration: none;
}
.withdraw-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #6583a8 !important;
    background: none;
    border: 1px #6583a8 solid;
    height: auto;
    border-radius: 25px;
    padding: 3px 9px 4px 9px;
    font-weight: 500;
    text-decoration: none;
}
.withdraw-btn:hover {
    color: #fff;
    text-decoration: none;
    background: #123;
    transition: all .3s ease-out;
}
.modal-content {
    background: #142c46;
}

/* New CSS */
.box-portlet-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 18px;
}
.box-portlet-header span {
    font-size: 13px;
    font-weight: 300;
    font-family: 'Roboto', Arial;
}
.dstatsemo ul li div {
    width:19% !important;
}
.amcharts-pie-slice {
    transform: scale(1.2);
    transform-origin: 50% 50%;
    transition-duration: 0.3s;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    cursor: pointer;
    box-shadow: 0 0 30px 0 #000;
}

.amcharts-pie-slice:hover {
    transform: scale(1.3);
    filter: url(#shadow);
}
.dstatstrade.eqpad ul li {
    line-height: 150%;
    padding: 5px !important;
}
.stats-info .pagination {
    width: 100%;
    text-align: right;
}
.stats-info .pagination ul {
    margin:0;
    padding:0;
}
.stats-info .pagination ul li {
    display: inline-block;
    margin-right: 10px;
}
.stats-info .pagination ul li a {
    border: 1px solid #3292cc;
    color: #fff;
    padding: 5px 9px;
    border-radius: 40px;
}
.buy-order--submit {
    position: relative;
    left: 580px;
}
.modal-button-confirm {
    position: relative;
    left: 565px;
}.dledinner ul {
    margin: 0;
    padding: 0;
    text-align: right;
}
.dledinner ul li {

}
.dledinner ul li a {
    border: 1px solid #5d7ca0;
    padding: 5px 9px;
    border-radius: 20px;
}
.selltrade--align input {
    text-align: right;
    padding-right: 20px !important;
}
.arb_wdrw{
    display:block;
}
.arb_wdrw_left{
    float: left;
    width: 47%;
    line-height: 30px;
    background-color: #34495e;
    padding: 3px 0 3px 10px;
    border-radius: 5px 0 0 5px;
}
.arb_wdrw_right{
    float: right;
    width: 53%;
}
.arb_wdrw_right > input{
    margin-top: 0;
    border-radius: 0 5px 5px 0;
    border: none;
    display: inline-block;
    background: #4e6a85 !important;
    line-height: 28px;
    padding: 0px 10px 0px 10px !important;
    text-align: right;
}

.search-tlogs {
    width: 150px;
    float: right;
}

.search-logs{
    border-radius: 30px;
    height: 25px;
    background-color: #4e6a85 !important;
    color: #fff !important;
}
.number{
    font-size: 13px !important;
    text-align: right;
}
.sampleData__notification {
    position: fixed;
    z-index: 10;
    right: 390px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,000000+100&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    bottom: 0;
    font-size: 1.4em;
    text-align: center;
}
.sampleData__overlay {
    position: fixed;
    z-index: 10;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,000000+100&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    width: 100%;
    height: 100%;
}
.amChartsLegend.amcharts-legend-div svg {
    width: 184.094px !important;
    position: relative !important;
}
.amChartsLegend.amcharts-legend-div {
    display: block;
    height: 116px !important;
    overflow-y: hidden !important;
}
.amChartsLegend.amcharts-legend-div:hover {
    overflow-y: scroll !important;
}

.amChartsLegend.amcharts-legend-div::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 11px;
    background-color: #0f121d;
}
.amChartsLegend.amcharts-legend-div::-webkit-scrollbar
{
    width: 8px;
    border-radius: 10px;
    background-color: none;
}
.amChartsLegend.amcharts-legend-div::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #34495e;
}
.amcharts-balloon-div span {
    font-size: 10px !important;
}
#chartdiv1 .amcharts-chart-div svg {
    overflow: visible !important;
}
.swal-button--cancel:active {
    background-color: #9e9e9e !important;
}
.swal-button--cancel:focus {
    box-shadow: none;
}
.swal-button--danger:not([disabled]):hover {
    background-color: #00bcd4 !important;
}
.swal-button--danger:focus {
    box-shadow: none;
}
#chartdiv1 .amcharts-chart-div {
}