

/*------ global-dashboard-css ------*/
html {
    background: #0d1f33 !important;
    height: 100%
}
dl, ol, ul {
    margin-bottom: 0;
}
body,
#page-container,
#main-content,
.inner-placeholder {
    font-family: 'Roboto', sans-serif;
}
.inner-placeholder{
    background: #0d1f33;
    color: #d8d8d8;
    padding-top: 55px !important; 
}
hr.style14 {
    position: relative;
    border: 0;
    height: 1px;
    width: 100%;
    background-image: -webkit-linear-gradient(left, #1e3554, #1e3554, #1e3554);
    margin-top: 0.5rem;
    margin-bottom: 1.5px !important;
    display: flex;
}
hr.style20 {
    margin-top: 0rem !important;
    margin-left: -15px;
    width: 107%;
    margin-bottom: -1px !important;
}
.inner-main-content {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/*------ global-dashboard-css ------*/


/*------ global-header-css ------*/
body header#main-header {
    background: #213f58;
    position: fixed;
    width: 100%;
    z-index: 99999
}
.header-dashboard-inner {
    padding: 8px 0 0;
}
.header-dashboard-inner > div {
    float: left;
    width: 50%;
}
.header-dashboard-inner {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.border-colored {
    height: 4px;
    background-image: linear-gradient(to right, #894b9d, #eb8023, #c2b819, #49ba6f, #2581bc); 
}
.header-dashboard-inner > div {
    height: 34px !important;
    float: left;
    width: 50%;
}
.logo-image {
    display: inline-block;
}
.header-dashboard-inner .right-header-part {
    text-align: right;
}

ul.main-drops > ul {
    font-size: 13px;
    position: absolute;
    right: 0;
    background: #142c46;
    min-width: 200px;
    text-align: left;
    margin-top: 8px;
    border: none;
    border-radius: 4px;
    padding: 0;
    display: none
}
ul.main-drops > ul li a {
    color: #fff;
    display: block;
    font-size: 12px ;
    font-weight: 500;
    font-family: 'roboto', sans-serif;
}
ul.main-drops > ul li:hover {
    background: #0d1f33;
}
ul.main-drops > ul li {
    padding: 6px 15px;
}
ul.main-drops > ul li:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
ul.main-drops > ul li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
ul.main-drops {
    display: inline-block;
    vertical-align: top;
    position:relative;
}
.right-header-inner .ontomitif,
.right-header-inner .main-drop,
.right-header-inner .ontotools {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
.ontotools a {
    font-size: 16px;
    line-height: 27px;
}
.ontotools a,
.right-header-inner .ontomitif i,
.right-header-inner .dmessagepart a {
    height: 26px;
    line-height: 26px;
    color: #d8d8d8;
    padding:0;
    width: 26px;
    border-radius: 50px;
    display: block;
    background-color: #213f58;
    text-align:center;

    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.dropopen {
    display: block !important;
}
ul.main-drops > ul:before {
    bottom: 100%;
    right: 2%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(194, 225, 245, 0);
    border-width: 10px;
    margin-left: -36px;
    border-bottom-color: #142c46;
}
.right-header-inner .ontomitif {
    padding-right: 1px;
}
body .um-notification-b.right {
    display: none;
}
.ontomitif .um-notification-b.right {
    position: relative;
    top: initial;
    bottom: initial !important;
    background: none;
    box-shadow: none;
    padding: 0;
    right: initial;
    width: initial;
    height: initial;
    line-height: 1em;
    display: block;
}
.um-notification-live-count.count-0.counter {
    display: none !important;
}
.ontomitif span.um-notification-live-count {
    right: -6px;
    top: -1px;
    font-size: 10px;
    width: 15px;
    height: 15px;
    line-height: 15px;
}
.notifinnerbase {
    display: inline-block;
}
body .um-notification-live-feed {
    top: 18px;
    background: #152d46;
    color: #fff;
    border:none;
    position: relative;
    margin-top: -10px;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 0px rgba(7, 13, 19, 0.52);
    max-width: 365px;
    overflow: visible;
    right: 55px !important;
    display: none;
}
.um-notification-live-feed-inner {
    border-bottom-color: #152d46 !important;
}
.um-notification-live-feed-inner::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 11px;
    background-color: #0f121d;
}
.um-notification-live-feed-inner::-webkit-scrollbar{
    width: 8px;
    border-radius: 10px;
    background-color: none;
}
.um-notification-live-feed-inner::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #34495e;
}
body .um-notification-live-feed .um-notification-header {
    border-bottom: 1px solid #35485f;
}
.um-notification-header {
    background: #152d46;
    z-index: 2;
    border-radius: 6px 6px 0px 0px;
    width: 365.05px;
}
body .um-notification-live-feed .um-notification-left {
    border: 0 none;
    text-transform: capitalize;
    font-size: 12px !important;
    padding: 6px 14px !important;
    font-family: 'Roboto', sans-serif;
}
.um-notification-right {
    padding-top: 4px !important;
    display: none;
}
.um-notification-live-feed-inner .um-notification-ajax {
    max-height: 236px;
    overflow: auto;
}
.um-notification-live-feed-inner .um-notification-ajax::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 11px;
    background-color: #0f121d;
}
.um-notification-live-feed-inner .um-notification-ajax::-webkit-scrollbar{
    width: 8px;
    border-radius: 10px;
    background-color: none;
}
.um-notification-live-feed-inner .um-notification-ajax::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #34495e;
}
body .um-notification-live-feed .um-notification-ajax .um-notification {
    border-bottom: 1px solid #35485f;
    color: #fff;
}
body .um-notification-live-feed .um-notification-ajax .um-notification:hover {
    background: #222d3a;
}
body .um-notification-live-feed .um-notification-ajax .um-notification span.um-notification-hide a {
    color: #fff !important;
}
.um-notification-live-feed .um-notification-more {
    padding: 5px 15px !important;
    border-radius: 0 0 5px 5px;
}
.um-notification-live-feed .um-notification-more a {
    color: #fffffe;
    font-family: 'Roboto', sans-serif;
}
.clear {
    clear: both;
}
.dmessagepart {
    padding-right: 5px;
    display: inline-block;
}
.right-header-inner .dmessagepart .vyndue-notification {
    top: 6px;
    font-size: 10px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    margin-left: 14px;
    display: none;
    position: absolute;
    background: #ff0000;
    color: #fff;
    border-radius: 999px;
    text-align: center;
}
.right-header-inner .dmessagepart .vyndue-notification.has-notification {
    display: block !important;
}
ul.main-drop > ul {
    font-size: 13px !important;
    position: absolute !important;
    right: -4px;
    background: #142c46 !important;
    min-width: 200px;
    text-align: left !important;
    margin-top: 8px !important;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: rgba(7, 13, 19, 0.52) 0px 2px 4px 1px;
    padding: 0;
    display: none;
}
ul.main-drop > ul:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(194, 225, 245, 0);
    margin-left: -36px;
    border-bottom-color: #142c46 !important;
    border-width: 9px;
    right: 4%;
}
ul.main-drop > ul li:hover {
    background: #50678b;
}
ul.main-drop > ul li {
    padding: 6px 15px;
}
ul.main-drop > ul li:hover a {
    text-decoration: none;
}
.right-header-inner .main-drop {
    margin-bottom: 0;
    padding:0;
    position: relative;
}
.header-image {
    display: inline-block;
}
.header-image .user-image {
    background-size: cover !important;
    width: 26px;
    height: 26px;
    border-radius: 25px;
    cursor: pointer;
}
ul.main-drop > ul li:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
ul.main-drop > ul li a {
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: 500;
    font-family: 'roboto', sans-serif;
}
ul.main-drop > ul li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: none;
}
.main-drop hr.style14 {
    margin-top: 0;
}
.um-notification-live-feed:before {
    bottom: 100%;
    right: 3%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #152d46;
    border-width: 10px;
    margin-left: -36px;
    }
/*------ global-dashboard-css ------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	font-size: 100%;
	vertical-align: baseline;
	list-style: none !important;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/* footer css */
.background-positionfix, .wavey-bottom-bg {
    z-index: -1;
}
.inner-content {
    padding: 45px 40px 25px 40px;
    border-radius: 5px;
    background: #142c46;
}
.inner-content--contact {
    margin: 0 160px;
    margin-top: 20px;
}
.fa-percentage {
    margin-left: 1px;
}
p.content-meta-date {
    text-align: center;
    padding-bottom: 20px !important;
}
.background-positionfix {
    width: 100%;
    height: 350px;
    position: absolute;
    background: #0b1827;
    overflow-x: hidden;
    z-index: 0;
}
.footer-container {
    width: 100%;
    height: 30px;
}
.button-media-container {
    text-align: center;
    margin-top: 50px;
}
.button-media-container a img {
    display: inline;
    width: 40px;
    margin: 0 5px;
}
.a-link-text-align {
    text-align: center;
}
.a-link-text-margin {
    margin: 20px auto 50px auto;
}
.a-text-font, .a-text-font a {
    color: #d8d8d8;
}
.a-text-font a {
    padding: 5px;
}
.a-text-font a:hover {
    background: #142c46;
    border-radius: 3px;
    color: #e4e4e4;
}
.terms-padding {
    font-size: 2em;
}
