/*------ global-dashboard-css ------*/
.inner-main-content, .header-dashboard-inner {
    max-width: 1000px;
    width: 100%;
}
.inner-main-content,
.header-dashboard-inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/*------ global-sidebar ------*/


/*------ global-sidebar ------*/
.side-header .right-image .onto-user-name {
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}
.side-header .right-image .onto-user-meta-details {
    color: #57718b;
}
.side-header .right-image .onto-user-name {
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-size: 13px;
}
.side-header {
    background: transparent;
    border-radius: 3px 3px 0 0;
    padding: 0 0 5px;
    line-height: 1em;
}
.side-header .left-image {
    display: inline-block;
    width: 12%;
}
.side-header .right-image {
    display: inline-block;
    width: 81%;
    font-size: 13px !important;
    font-weight: normal;
    line-height: 1.3em;
    vertical-align: top;
}
.side-header .left-image .user-image{
    background-size: cover !important;
    width: 26px;
    height: 26px;
    border-radius: 50px;
}
.arb_smalltxt {
    font-weight: 300;
    font-size: 11px;
    text-transform: lowercase;
    color: #aaa;
}
.side-content-inner ul {
    padding: 0;
    list-style: none;
}
.sidebariconssocial li.active a {
    background: #142c46;
}
.side-content ul li a {
    display: block;
    color: #ecf0f1 !important;
    padding: 6px 1px 6px 5px;
    font-size: 13px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
}
.sidebariconssocial img {
    width: 21px;
    vertical-align: bottom;
    margin-right: 11px;
}
.m-separator {
    width: 100%;
    height: 15px;
}
span.menu-title-calc {
    color: #aaa;
    font-size: 13px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}
li.seven.calc-menu-buysell span {
    top: -2px;
    position: relative;
}
a:hover {
    text-decoration: none !important;
}
.dashboard-sidebar-left {
    height: 100%;
}
.dashboard-sidebar-left-inner {
    position: sticky;
    top: 10px;
}
.left-dashboard-part {
    padding: 10px 0 0 !important;
    width: 196px;
}
/*------ global-sidebar ------*/


/*------ center-part-dashboard ------*/
.center-dashboard-part {
    float: left;
    max-width: 539px;
}
.add-post {
    border-radius: 5px;
    overflow: hidden;
}