/*------ global-dashboard-css ------*/
html {
    background: #0d1f33;
}
dl, ol, ul {
    margin-bottom: 0;
}
body,
#page-container,
#main-content,
.inner-placeholder {
    font-family: 'Roboto', sans-serif;
}
.inner-placeholder{
    background: #0d1f33;
    color: #d8d8d8;
    padding-top: 46px !important; 
}
hr.style14 {
    position: relative;
    border: 0;
    height: 1px;
    width: 100%;
    background-image: -webkit-linear-gradient(left, #1e3554, #1e3554, #1e3554);
    margin-top: 0.5rem;
    margin-bottom: 1.5px !important;
    display: flex;
}
hr.style20 {
    margin-top: 0rem !important;
    margin-left: -15px;
    width: 107%;
    margin-bottom: -1px !important;
}
.inner-main-content {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/*------ global-dashboard-css ------*/


/*------ global-header-css ------*/
body header#main-header {
    background: #213f58;
    position: fixed;
    width: 100%;
    z-index: 99999
}
.header-dashboard-inner {
    padding: 8px 0 0;
}
.header-dashboard-inner > div {
    float: left;
    width: 50%;
}
.header-dashboard-inner {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.border-colored {
    height: 4px;
    background-image: linear-gradient(to right, #894b9d, #eb8023, #c2b819, #49ba6f, #2581bc); 
}
.header-dashboard-inner > div {
    height: 34px !important;
    float: left;
    width: 50%;
}
.logo-image {
    display: inline-block;
}
.header-dashboard-inner .right-header-part {
    text-align: right;
}

ul.main-drops > ul {
    font-size: 13px;
    position: absolute;
    right: 0;
    background: #142c46;
    min-width: 200px;
    text-align: left;
    margin-top: 8px;
    border: none;
    border-radius: 4px;
    padding: 0;
    display: none
}
ul.main-drops > ul li a {
    color: #fff;
    display: block;
    font-size: 12px ;
    font-weight: 500;
    font-family: 'roboto', sans-serif;
}
ul.main-drops > ul li:hover {
    background: #0d1f33;
}
ul.main-drops > ul li {
    padding: 6px 15px;
    list-style: none;
}
ul.main-drops > ul li:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
ul.main-drops > ul li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
ul.main-drops {
    display: inline-block;
    vertical-align: top;
    position:relative;
}
.right-header-inner .ontomitif,
.right-header-inner .main-drop,
.right-header-inner .ontotools {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
.ontotools a {
    font-size: 16px;
    line-height: 27px;
}
.ontotools a,
.right-header-inner .ontomitif i,
.right-header-inner .dmessagepart a {
    height: 26px;
    line-height: 26px;
    color: #d8d8d8;
    padding:0;
    width: 26px;
    border-radius: 50px;
    display: block;
    background-color: #213f58;
    text-align:center;

    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.dropopen {
    display: block !important;
}
ul.main-drops > ul:before {
    bottom: 100%;
    right: 2%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(194, 225, 245, 0);
    border-width: 10px;
    margin-left: -36px;
    border-bottom-color: #142c46;
}
.right-header-inner .ontomitif {
    padding-right: 1px;
}
body .um-notification-b.right {
    display: none;
}
.ontomitif .um-notification-b.right {
    position: relative;
    top: initial;
    bottom: initial !important;
    background: none;
    box-shadow: none;
    padding: 0;
    right: initial;
    width: initial;
    height: initial;
    line-height: 1em;
    display: block;
}
.um-notification-live-count.count-0.counter {
    display: none !important;
}
.ontomitif span.um-notification-live-count {
    right: -6px;
    top: -1px;
    font-size: 10px;
    width: 15px;
    height: 15px;
    line-height: 15px;
}
.notifinnerbase {
    display: inline-block;
}
body .um-notification-live-feed {
    top: 18px;
    background: #152d46;
    color: #fff;
    border:none;
    position: relative;
    margin-top: -10px;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 0px rgba(7, 13, 19, 0.52);
    max-width: 365px;
    overflow: visible;
    right: 55px !important;
    display: none;
}
.um-notification-live-feed-inner {
    border-bottom-color: #152d46 !important;
}
.um-notification-live-feed-inner::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 11px;
    background-color: #0f121d;
}
.um-notification-live-feed-inner::-webkit-scrollbar{
    width: 8px;
    border-radius: 10px;
    background-color: none;
}
.um-notification-live-feed-inner::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #34495e;
}
body .um-notification-live-feed .um-notification-header {
    border-bottom: 1px solid #35485f;
}
.um-notification-header {
    background: #152d46;
    z-index: 2;
    border-radius: 6px 6px 0px 0px;
    width: 365.05px;
}
body .um-notification-live-feed .um-notification-left {
    border: 0 none;
    text-transform: capitalize;
    font-size: 12px !important;
    padding: 6px 14px !important;
    font-family: 'Roboto', sans-serif;
}
.um-notification-right {
    padding-top: 4px !important;
    display: none;
}
.um-notification-live-feed-inner .um-notification-ajax {
    max-height: 236px;
    overflow: auto;
}
.um-notification-live-feed-inner .um-notification-ajax::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 11px;
    background-color: #0f121d;
}
.um-notification-live-feed-inner .um-notification-ajax::-webkit-scrollbar{
    width: 8px;
    border-radius: 10px;
    background-color: none;
}
.um-notification-live-feed-inner .um-notification-ajax::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #34495e;
}
body .um-notification-live-feed .um-notification-ajax .um-notification {
    border-bottom: 1px solid #35485f;
    color: #fff;
    text-align: left;
}
body .um-notification-live-feed .um-notification-ajax .um-notification:hover {
    background: #222d3a;
}
body .um-notification-live-feed .um-notification-ajax .um-notification span.um-notification-hide a {
    color: #fff !important;
}
.um-notification-live-feed .um-notification-more {
    padding: 5px 15px !important;
    border-radius: 0 0 5px 5px;
}
.um-notification-live-feed .um-notification-more a {
    color: #fffffe;
    font-family: 'Roboto', sans-serif;
}
.clear {
    clear: both;
}
.dmessagepart {
    padding-right: 5px;
    display: inline-block;
}
.right-header-inner .dmessagepart .vyndue-notification {
    top: 6px;
    font-size: 10px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    margin-left: 14px;
    display: none;
    position: absolute;
    background: #ff0000;
    color: #fff;
    border-radius: 999px;
    text-align: center;
}
.right-header-inner .dmessagepart .vyndue-notification.has-notification {
    display: block !important;
}
ul.main-drop > ul {
    font-size: 13px !important;
    position: absolute !important;
    right: -4px;
    background: #142c46 !important;
    min-width: 200px;
    text-align: left !important;
    margin-top: 8px !important;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: rgba(7, 13, 19, 0.52) 0px 2px 4px 1px;
    padding: 0;
    display: none;
}
ul.main-drop > ul:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(194, 225, 245, 0);
    margin-left: -36px;
    border-bottom-color: #142c46 !important;
    border-width: 9px;
    right: 4%;
}
ul.main-drop > ul li:hover {
    background: #0d1f33;
}
ul.main-drop > ul li {
    padding: 6px 15px;
    list-style: none;
}
ul.main-drop > ul li:hover a {
    text-decoration: none;
}
.right-header-inner .main-drop {
    margin-bottom: 0;
    padding:0;
    position: relative;
}
.header-image {
    display: inline-block;
}
.header-image .user-image {
    background-size: cover !important;
    width: 26px;
    height: 26px;
    border-radius: 25px;
    cursor: pointer;
}
ul.main-drop > ul li:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
ul.main-drop > ul li a {
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: 500;
    font-family: 'roboto', sans-serif;
}
ul.main-drop > ul li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: none;
}
.main-drop hr.style14 {
    margin-top: 0;
}
.um-notification-live-feed:before {
    bottom: 100%;
    right: 3%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #152d46;
    border-width: 10px;
    margin-left: -36px;
    }
/*------ global-header-css ------*/


/*------ global-sidebar ------*/
.container-sticky {
    position: sticky;
    top: 56px;
}
.side-header .right-image .onto-user-meta-details {
    color: #57718b;
}
.side-header .right-image .onto-user-name {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-size: 13px;
    padding-left: 11px;
}
.side-header {
    background: transparent;
    border-radius: 3px 3px 0 0;
    padding: 0 0 5px;
    line-height: 1em;
}
.side-header .left-image {
    display: inline-block;
    width: 12%;
}
.side-header .right-image {
    display: inline-block;
    width: 81%;
    font-size: 13px !important;
    font-weight: normal;
    line-height: 1.3em;
    vertical-align: top;
}
.side-header .left-image .user-image{
    background-size: cover !important;
    width: 26px;
    height: 26px;
    border-radius: 50px;
}
.arb_smalltxt {
    font-weight: 300;
    font-size: 11px;
    text-transform: lowercase;
    color: #aaa;
}
.side-content-inner ul {
    padding: 0;
    list-style: none;
}
.sidebariconssocial li.active a {
    background: #142c46;
}
.side-content ul li a {
    display: block;
    color: #ecf0f1 !important;
    padding: 6px 1px 6px 5px;
    font-size: 13px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
}
.side-content ul li a:hover {
    background: #142c46 !important;
  }
.sidebariconssocial img {
    width: 21px;
    vertical-align: bottom;
    margin-right: 11px;
}
.m-separator {
    width: 100%;
    height: 15px;
}
span.menu-title-calc {
    color: #aaa;
    font-size: 13px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}
li.seven.calc-menu-buysell span {
    top: -2px;
    position: relative;
}
a:hover {
    text-decoration: none !important;
}
.dashboard-sidebar-left {
    height: 100%;
}
.dashboard-sidebar-left-inner {
    position: sticky;
    top: 65px;
}
.left-dashboard-part {
    padding: 10px 0 0 !important;
    width: 196px;
}
.seven.calc-menu-buysell img {
    height: 23px;
}
/*------ global-sidebar ------*/


/*------ bulletins-page ------*/
.nws-businesstitle {
    width: auto;
    color: #fffffe;
    font-size: 17px;
    font-weight: 200;
    display: inline-block;
    padding: 5px;
    border-left: #e91e63 solid 3px;
}

.nws-seprator .nws-title p {
    font-size: 20px;
    margin-bottom: 0;
    line-height: 1;
}
.nws-part .nws-title a {
    font-size: 19px;
    color: #f9fafa;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
.nws-title {
    padding: 5px 0;
    min-height: 49px;
}
.nws-seprator .nws-description p {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.45;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}
.nws-seprator span {
    display: block;
    text-align: left;
    margin-bottom: 2px;
}
.nws-seprator {
    padding: 5px 15px;
    background: #142c46;
    position: relative;
    margin: 0px 0px 0px 15px;
    margin-top: -58px;
    border-radius: 5px 0px 0px 5px;
    box-shadow: -2px 0px 6px -4px rgba(0,0,0,0.75);
}
.nws-seprator .nws-description p:first-child {
    min-height: 57px;
    max-height: 57px;
    padding-bottom: 0px;
}
.nws-seprator .nws-description p:last-child {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
}
.nws-top {
    overflow: hidden;
    height: 360px;
}
.nws-top img {
    width: 100%;
    position: relative;
    vertical-align: middle;
}
/*	.nws-conttype {
    padding: 7px 0 25px 0;
}*/
.nws-containersss {
    padding:0 0 20px 0;
}
.nws-containersss .nws-inner .container .nws-businesstitle {
    width: auto;
    color: #fffffe;
    font-size: 17px !important;
    font-weight: 200 !important;
    margin-left: 12px;
    display: inline-block;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px !important;
    border-left: #32a6d6 solid 3px;
}
.nws-mktbulletin {
    width: auto;
    color: #fffffe;
    font-size: 20px !important;
    font-weight: 500 !important;
    margin-left: 15px;
    display: inline-block;
}
.img_sep {
    cursor: pointer;
}
.nws-seprator a {
    font-size: 13px;
    color: #37a8d7;
}
.overlay .text a {
    font-size: 13px;
    color: #fff;
}
.text {
    color: white;
    padding: 33px;
    font-size: 20px;
}
.text .nws-title p {
    margin: 0;
}
.text .nws-description p {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
}
.overlay {
    position: absolute;
    top: 25px;
    left: 97.6%;
    right: 0;
    background-color: #142c46;
    overflow: hidden;
    width: 0;
    height: 88%;
    transition: .5s ease;
}
.nws-top:hover .overlay {
    width: 95.4%;
    left: 15px;
}
.see-more-btn strong a {
    color: #d8d8d8;
}
.ajax-upload-dragdrop {
    border: none !important;
}
.nws-conttype div p {
    padding: 0;
    margin: 0;
}
.nws-conttype div .ellpnews {
    padding: 0;
    margin: 0 0 0 0;
    font-size: 12px;
    color: #d8d8d8;
    font-size: 12px;
    line-height: 1.3;
}
.nws-conttype div p strong {
    font-size: 15px;
    color: #fff;
}
.ddimg {
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    display: block;
    position: relative;
}
.ddtopimg {
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    display: block;
    position: relative;
}
.nws-thumbnstopimg {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
}
.nws-thumbnstopimg.xls {
    height: 92%;
}
.nws-thumbnstopimg:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    zoom: 0;
    background: inherit;
    opacity: 0.8;

    filter        : blur(20px);
    -moz-filter   : blur(20px);
    -webkit-filter: blur(20px);
    -o-filter     : blur(20px);
}
.nws-thumbnstopimg:hover .nws-toptitle {
    /*transform: translate(0);*/
    /*transition-duration: .5s;*/
}
.nws-thumbns {
    max-width: 30%;
    width: 30%;
    height: 96px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
}
.nws-thumbns:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    zoom: 0;
    background: inherit;

    filter        : blur(2px);
    -moz-filter   : blur(2px);
    -webkit-filter: blur(2px);
    -o-filter     : blur(2px);
}
.ccc {
    max-width: 100%;
    width: 100%;
    height: 180px;
    display: inline-block;
    position: relative;
}
.ccc.kitts {
    height: 353px;
}
.nws-part {
    margin-top: 15px;
    margin-bottom: 15px;
}
.cisz {
    padding-top: 15px;
}
.cisz .nws-part {
    z-index: 0;
}
.hksi {
    padding-left: 0;
    padding-right: 0;
}
.nws-partssis {
    margin-top: 0 !important;
}
.nws-thumbnsdesc {
    position: relative;
    max-width: 70%;
    display: inline-block;
    vertical-align: middle;
    padding: 4px 8px;
}
.nws-conttype div p:nth-child(1) a {
    color: #fffffe;
    font-size: 12px;
    display: block;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.3px;

}
.nws-conttype div p:nth-child(2) {
    font-size: 12px;
    color: #d8d8d8;
    line-height: 1.2;
    margin: 8px 0;
    min-height: 28px;
}
.nws-conttype div p:nth-child(3) {
    font-size: 11px;
    color: #d8d8d8;
    line-height: 1;
}
.msbusinesstit {
    padding-top: 10px;
}
.nws-conttype.llll {
    display: inline-table;
    margin: 5px 0;
    background: #142c46;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.75);
}
.main-innertop .nws-conttype.llll:first-child {
    margin-top: 0;
}
.main-innertop .nws-conttype.llll:last-child {
    margin-bottom: 0;
}
.nws-toplinks a {
    vertical-align: bottom;
    font-size: 12px;
    color: cyan;
}
p.nws-toplinks {
    padding-top: 5px;
}
.klaska {
    height: 375px;
}
.nws-toptitle p a {
    color: #fff;
    font-size: 30px;
}
.nws-toptitle p.ellpnews {
    font-size: 15px;
}
.nws-toptitle p:first-child, .nws-toptitle p.ellpnews {
    margin: 0;
}
/*------ bulletins-page ------*/


body .um-notification-live-feed .um-notification-ajax .um-notification {
	border-bottom: 1px solid #35485f;
    color: #fff;
    text-align: left;
    margin-top: -23px;
}
body .um-notification-live-feed .um-notification-ajax .um-notification:hover {
    background: #11253c;
}
/* -------------- newsticker vyndue ---------------- */
#vyndue--link span {
    position: relative;
}
#vyndue--link span:after {
    position: absolute;
    display: inline;
    background: #e91e63;
    padding: 0px 6px;
    width: 42px;
    font-size: 9px;
    font-weight: 500;
    border-radius: 20px;
    content: "Try this";
    top: -10px;
    left: 41px;
}
#vyndue--link span:before {
    content: "";
    position: absolute;
    left: 46px;
    bottom: 7px;
    width: 0;
    height: 0;
    border-top: solid 7px #e91e63;
    border-left: solid 0px transparent;
    border-right: solid 7px transparent;
}
/* -------------- newsticker vyndue ---------------- */


/* -------------- passwordmodal vyndue ---------------- */
#vynduemodals {
    top: 50px;
    margin-left: -43px;
    overflow: inherit;
}
#vynduemodals .modal-dialog .modal-content {
    border-radius: 5px;
    overflow: hidden;
    background: #142c46;
    width: 350px;
    margin: 0 auto;
}
#vynduemodals .modal-body {
    background: #142c46;
    color: #fff;
}
#vynduemodals .modal-body input#darbitpass {
    width: 100%;
    border: 1px solid #1d3553;
    background: #10273e;
    border-radius: 100px;
    padding: 5px 10px;
    /* margin-bottom: 9px; */
    font-size: 14px;
    color: #fff;
}
#vynduemodals .modal-body input#darbitpass:focus {
    outline: none;
}
#vynduemodals .modal-body input#subspass {
    background: none;
    border: 2px solid #e77e24;
    color: #fff;
    font-size: 12px;
    border-radius: 50px;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
}
#vynduemodals .modal-body input#subspass:hover {
    border: 2px solid #e77e24;
    background: #e77e24;
    color: #fff;
}
#vynduemodals .modal-body .vynduepassnow_cancel {
    background: none;
    border: 2px solid #F44336;
    color: #fff ;
    font-size: 12px;
    border-radius: 50px;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
}
#vynduemodals .modal-body .vynduepassnow_cancel:hover {
    border: 2px solid #F44336;
    background: #F44336;
    color: #fff;
}
.vynduepassnow--phar {
    margin-bottom: 5px;
    font-size: 13px;
    margin: 0 auto;
    line-height: 1.4;
    text-align: center;
}
.vynduepassnow--phar-bot {
    font-size: 11px;
    font-weight: 300;
    color: #9c9c9c;
    margin: 9px auto;
    line-height: 1.4;
    text-align: center;
}
.vynduepassnow--username-youornot {
    font-size: 11px;
    font-weight: 300;
    color: #c9c9c9;
    margin: 0 auto 10px;
    line-height: 1.4;
    text-align: center;
}
.vynduepassnow--username {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.vynduepassnow_vyndue-img {
    width: 31%;
    margin: 0 auto;
    display: block;
}
.vynduepassnow_user-img {
    width: 100%;
    border-radius: 100px;
}
.vynduepassnow_user-img-main {
    display: block;
    margin: 17px auto;
    width: 39%;
    height: 39%;
    border-radius: 100px;
    border: 3px solid rgba(101, 131, 168, 0.4196078431372549);
    padding: 4px;
    overflow: hidden;

    -webkit-box-shadow: 0px 0px 11px -2px rgba(8, 22, 38, 0.5);
    -moz-box-shadow: 0px 0px 11px -2px rgba(8, 22, 38, 0.5);
    box-shadow: 0px 0px 11px -2px rgba(8, 22, 38, 0.5);
}
.vynduepassnow_btns {
    margin: 18px 0 3px auto;
}
/* -------------- passwordmodal vyndue ---------------- */