  .nvd3 .nv-axis line {
    display: none;
  }

  .inpt_data_price::-webkit-input-placeholder {
  		color: #cacdd2;
 	}

	.input-stock::-webkit-input-placeholder {
  		color: #cacdd2;
	}


  .nvd3 .nv-axis path.domain {
    display: none;
  }

  .negative > line, .negative > rect {
    stroke: #eb4d5c !important;
    fill: #eb4d5c !important;
  }

  .positive > line {
    stroke: #53b987 !important;
  }
  .positive > rect {
    stroke: #53b987 !important;
    fill: #53b987 !important;
  }


.dtabspart ul li {
    color: #000;
}
.dtabspart ul.tabbutton > li {
    display: inline-block;
    line-height: 1em;
}
.dtabspart ul.tabbutton > li:hover {
    border-bottom: 2px solid #263646;
}
.dtabspart ul.tabbutton {
    margin: 0;
}
.totab {
    color: #000 !important;
}
.totab > div {
    display: none;
}
#dwatchlistmodal {
    color: #000;
}
.submitform {
    text-align: right;
    margin-top: 0;
    float: right;
}
.dclosetab {
    display: none;
}
.dclosetab.active {
    display: block;
    box-shadow: -4px 4px 8px -2px rgba(4,13,23,0.7);
    background: linear-gradient(45deg, #0a1c31 0%,#1a3550 100%) !important;
    margin: 0;
}
.side-header .right-image .onto-user-name {
    margin-bottom: 0 !important;
}
.addwatchs {
    display: block;
    /* border: 1px solid #2c3e50; */
    padding: 10px 15px;
    /* float: left; */
    width: 100% !important;
    margin-right: 1%;
    border-radius: 5px;
    position: relative;
    min-height: 113px !important;
    margin-bottom: 15px;
    box-shadow: -4px 4px 8px -2px rgba(4,13,23,0.7);
    background: linear-gradient(45deg, #0a1c31 0%,#1a3550 75%) !important;
}
.stats-watch {
    font-size: 13px;
    font-weight: bold;
    color: #fffffe;
}
.box-portlet {
    overflow: visible;
}
.left-stats-watch {
    float: left;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    left: 1px;
    position: relative;
    color: #fffffe;
}
.right-stats-watch {
    float: right;
    text-align: right;
    font-size: 13px;
    font-family: Roboto, sans-serif;
    line-height: 1.7;
    right: 1px;
    position: relative;
}
.dinnerlist > ul > li {
    display: block;
    border: 1px solid #2c3e50;
    padding: 10px;
    float: left;
    width: 49%;
    margin-right: 1%;
    border-radius: 5px;
    position: relative;
    min-height: 185px;
    margin-bottom: 25px;
}
.dinnerlist > ul > li.addwatch {
    text-align: center;
}
.dplusbutton .dplsicon {
    font-size: 68px;
    line-height: 1em;
}
.dplusbutton .dplstext {
    font-size: 20px;
    text-transform: capitalize;
}

.dinnerlist > ul > li.addwatch:hover {
    background: #2c3e50;
    cursor: pointer;
}
.dinnerlist > ul > li.addwatch:hover .dplsicon,
.dinnerlist > ul > li.addwatch:hover .dplstext {
    color: #3b5269;
}
.dinnerlist .dtockname {
    /*display: inline-block;
    width: 40%;*/
    font-size: 13px;
    margin-bottom: 10px;
    text-align: right;
    margin-top: 20px;
}
.dinnerlist .dtype {
    /*display: inline-block;
    width: 40%;*/
    font-size: 13px;
}
.dinnerlist .deleteme > div {
    display: inline-block;
}
.dinnerlist .dparams {
    display: block;
    margin-top: 5px;
}
.dinnerlist .dparams ul li {
    display: inline-block;
}
.dinnerlist .dparams ul li > div {
    display: inline-block;
}
.dinnerlist .dparams ul li {
    display: inline-block;
    padding: 0;
    width: 32%;
    font-size: 11px;
    line-height: 1em;
    margin-bottom: 5px;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 6px -3px rgba(4,13,23,0.7);
}
.dinnerlist .dparams ul li > div.dvalue {
    font-size: 19px;
    line-height: 1em;
    text-align: right;
    width: 100%;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #fff;
}
.dinnerlist .dparams ul li > div.dcondition {
    background: #173250ad;
    display: block;
    color: #fffffe;
    font-size: 10px;
    padding: 4px;
    text-align: left;
    text-transform: uppercase;
    line-height: 1em;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}
.dinnerlist .deleteme {
    text-align: right;
    position: absolute;
    top: -15px;
    right: -5px;
}
.dinnerlist .deleteme a {
    background: #2c3e50;
    color: #fff;
    font-size: 13px;
    padding: 6px 10px;
    border: 1px solid #2c3e50;
    border-radius: 30px;
}
.dinnerlist .deleteme a:hover {
    text-decoration: none;
}
.dinnerlist .deleteme a.removeItem {
    padding: 6px 10px;
}
.dinnerlist .deleteme a.editItem {
    padding: 6px 8px;
}
.condition-params {
    border-right: none;
    margin-right: -15px;
}
/* #canceladd {
    padding: 0 18px !important;
} */
#main-header {
    z-index: 1;
}
.editpartme {
    display: none;
}

/* Dropdown Button */
/* .dropbtn {
    display: inline-block;
    background-color: #11273e;
    border-radius: 25px;
    border-radius: 26px !important;
    border: 1px solid #6583a8 !important;
    padding: 6px 17px !important;
    font-family: 'Nunito', sans-serif;
    color: #6583a8;
    background: none !important;
} */

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
 /* background-color: #3b5269;*/
  /*color: #2c3e50;*/
}

/* The search field */
#myInput {
  border-box: box-sizing;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: none;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
    background: #142c46;
    border: 1px solid #1e3554;
    min-width: 230px;
    z-index: 1;
    border-radius: 8px;
    overflow: hidden;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 13px;
  padding: 5px 15px;
  border-bottom: 1px solid #dddddd;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {    
    background-color: #18314c;
}
.dropdown-content .listofstocks {
    height: 120px;
    overflow-y: auto;
}
input#myInput {
    padding: 10px 10px;
    font-size: 13px;
    display: block;
    width: 100%;
    background: #11273e;
    color: #fff;
    border: none;
}
.dropdown-content .listofstocks a {
    font-size: 13px;
    padding: 5px 10px;
    border-bottom: none;
    color: #d8d8d8;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.dbox {
}
.dbox.boxsred .innerbox {
    background: #b93c2c;
}
.dbox.boxsgreen .innerbox {
    background: #52c27a;
}
.dbox .innerbox {
    border-radius: 50px;
    display: inline-block;
    padding: 5px 10px;
}
.dbox .innerbox .hidedis {
  display: none;
}
.dgencode {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
a#gencode {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    font-weight: lighter;
    background: #2b3e4f;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 15px;
}
a#gencode:hover {
  text-decoration: none;
}
.dcodegenerated {
    background: #33465c;
    font-size: 24px;
    margin-bottom: 15px;
    padding: 15px 0;
}
input.subbuttons {
    background: #2b3e4f;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: lighter;
    padding: 10px 15px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.innerreference {
    text-align: center;
}
.innerreference .notebig {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: lighter;
}
.innerreference h2 {
    background: #2b3e4f;
    width: 50%;
    margin: 10px auto;
    border-radius: 5px;
    line-height: 1em;
    padding: 20px 0;
}
.innerreference .notesmall {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: lighter;
}
.dcontainer .dchart {
    float: left;
    width: 75%;
}
.dcontainer .dpricechange {
    float: left;
    width: 25%;
    text-align: right;
}
.dpricechange .curprice {
    line-height: 1em;
    font-size: 17px;
    padding-bottom: 3px;
    padding-top: 0;
    font-weight: 500 !important;
}
.dpricechange .curchange {
    font-size: 13px;
    line-height: 1em;
}
.dpricechange .curchange.onred {
    color: #eb4d5c;
}
.dcontainer {
    margin-bottom: 10px;
}
.stocknn {
    font-size: 21px;
    font-weight: bold;
    line-height: 1em;
}
.dselectstockname > div {
    display: inline-block;
    margin-right: 10px;
}
.innerdeliver ul li {
    display: inline-block;
    margin-right: 10px;
}
.innerdeliver.innerdeliver-addstock ul li:first-child {
    display: inline-block;
    margin-right: 0;
}
.innerdeliver ul li input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
}
.condition-params > div {
    margin-bottom: 10px;
}
.condition-params > div select#condition-list {
    color: #fff;
    display: block;
    width: 100%;
    padding: 5px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 25px;
    min-height: 33px;
    background: #11273e;
    border: 1px solid #1e3554 !important;
    font-size: 13px;
}
.box-portlet-content [type=button], [type=reset], [type=submit], button:hover {
    background-color: #123;
}
.condition-freq input#condition_frequency {
    color: #fff;
    font-size: 13px;
    background: #11273e;
    border: 1px solid #1e3554 !important;
    padding: 5px 10px;
    width: 100%;
    border-radius: 25px;
    min-height: 33px;
}
.addtolist {
    margin-bottom: 0px !important;
    text-align: right;
    margin-right: 0;
}
.dbaseitem .dinfodata {
    width: 84%;
    float: left;
    font-size: 12px;
    padding: 6px 5px;
    border: 1px solid #2a405b;
    border-radius: 25px;
    display: inline-flex;
    margin: 1px 0px 0px 3px;
    background: #2a405b;
}
.dbaseitem .closetab {
    width: 12%;
    float: left;
    text-align: center;
    background: none !important;
    margin-top: 0;
}
li.dbaseitem {
    border: 1px solid #0c1e33;
    background: #2b405b;
    border-radius: 5px;
    /* margin-top: 20px; */
    min-height: 36px;
}
button#submitmenow,
button#canceladd {
    color: white;
    cursor: pointer;
    display: inline-block;
    background-color: #11273e;
    padding: 4px 14px !important;
    border-radius: 25px;
}
ul.listofinfo {
    margin: 0;
    padding: 0;
}
button.closemebutton {
    background: #2a405b;
    color: #fff;
    border: 0 none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 0px;
}
li.dbaseitem {
    border: 1px solid #0c1e33;
    background: #2a405b;
    border-radius: 5px;
    /* margin-top: 20px; */
}
h2.watchtitle {
    font-size: 18px;
	padding: 0 10px 4px;
    margin: 0;
    font-weight: 800;
}
.dmodaleditwatch .modal-header h5 {
    color: #fff !important;
    margin: 0;
    line-height: 1em;
    /* padding: 0 10px; */
    font-size: 21px;
}
.dmodaleditwatch .modal-header {
    background-color: #34495e;
    padding: 12px;
    border-radius: 4px;
    margin: 13px;
    margin-bottom: 1px !important;
}
.dmodaleditwatch .modal-header button.close {
    padding: 0;
    color: #fff;
    position: absolute;
    top: 39px;
    right: 41px;
    background: none;
}
.dmodaleditwatch .modal-header {
    padding: 10px !important;
    border-bottom: 1px solid #3b5269;
}
.dmodaleditwatch .modal-header {
    padding: 0;
}
.dssinner .dleftpart {
    width: 20%;
    float: left;
}

.dssinner .drightpart {
    width: 80%;
    float: left;
}

.drefmeninner .leftpart {
    width: 20%;
    float: left;
}
.drefmeninner .rightpart {
    width: 80%;
    float: left;
}
.dsidemenu ul li a {
    color: #fff;
}
.ditem.fullwid {
    width: 100%;
    float: left;
}
.ditem.halfwid {
    width: 50%;
    float: left;
}
.dbillitem > div {
    display: inline-block;
    width: 30%;
}
.listofcoms li > div {
    display: inline-block;
    width: 30%;
}
.dlistinner ul li > div {
    display: inline-block;
    width: 30%;
}
.dlistinner.dmemberblock ul li > div {
    display: inline-block;
    width: 49%;
}
.dlistinner.dmentorblock ul li > div {
    display: inline-block;
    width: 24%;
}
.dadminusermods {
    margin-top: 10%;
}
.dadminusermods h5#exampleModalLongTitle {
    color: #333;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1em;
}
.dadminusermods button.close {
    padding: 10px;
    line-height: 1em;
    font-size: 20px;
}
.dadminusermods .modal-header {
    padding: 10px 15px;
}
.innermods {
    color: #333;
}
.dseparator h3 {
    font-size: 16px;
    text-transform: uppercase;
    padding: 2px;
    margin-bottom: 2px;
    line-height: 1em;
    border-bottom: 1px solid #333;
    font-weight: bold;
}
.dprofdatainner {
    margin-bottom: 10px;
}
.dprofpicinner {
    /*border-radius: 150px;
    overflow: hidden;
    border: 5px solid #333;*/
    position: relative;
}
.dprofpicinner img {
    border-radius: 150px;
    border: 5px solid #d3d3d3;
}
.dadminusermods .modal-body {
    padding: 15px 0;
}
.ditem {
    border: 1px solid #fff;
    margin: 5px 0;
}
.dmentorfollowmodalb h5#exampleModalLongTitle {
    color: #333;
    font-size: 16px;
    padding: 0;
    line-height: 1em;
}
.dmentorfollowmodalb .modal-header {
    padding: 10px;
    text-align: right;
    display: block;
    line-height: 1em;
}
.dmentorfollowmodalb button.close {
    font-size: 16px;
    padding: 0;
    margin: 0;
    float: none;
}
.dmentorfollowmodalb .modal-body {
    color: #333;
}
.dlistinner.dmentorblock .dmentorfollowmodalb ul li > div {
    width: 30%;
}
.tradelogtable .dreditem {
    color: #e64b3c;
    font-weight: bold;
}
.tradelogtable .dgreenitem {
    color: #27ae60;
    font-weight: bold;
}
.lisrofactivity table {
    width: 100%;
}
.dstockdetails .ditmleft,
.dstockdetails .ditmright {
    display: inline-block;
    width: 45%;
}
.ddetails {
    margin-bottom: 30px;
}

.innerdeliver.innerdeliver-addstock {
    padding: 7px 5px 7px 0;
    text-align: left;
    margin-top: 0;
}
.innerdeliver.innerdeliver-editstock {
    padding: 5px 0px 5px 9px;
    text-align: left;
}

    /* Enter Trade Form */
    .groupinput label {
        display: inline-block;
        width: 46px;
        font-weight: 300;
        font-size: 13px;
        height: 27px;
        line-height: 27px;
        padding: 0 0 0 7px;
        background-color: #34495e;
        border: none;
        color: #ecf0f1;
        border-radius: 3px 0 0 3px;
        margin-bottom: 0;
    }
    .groupinput input[type="text"] {
        display: inline-block;
        border-radius: 0 3px 3px 0;
        width: 172px;
        font-weight: 300;
        font-size: 13px;
        height: 27px;
        line-height: 27px;
        padding: 0 0 0 7px;
        background-color: #4e6a85;
        border: 1px solid #4e6a85;
        color: #ecf0f1;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        font-weight: 300;
    }
    .groupinput select {
        display: inline-block;
        border-radius: 0 3px 3px 0;
        width: 140px;
        font-weight: 300;
        font-size: 13px;
        height: 27px;
        line-height: 27px;
        padding: 0 0 0 3px;
        background-color: #4e6a85;
        margin: 0 0 0 -4px;
        border: 1px solid #4e6a85;
        color: #ecf0f1;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        font-weight: 300;
    }
    .confirmtrd,
    input[type="submit"].confirmtrd {
        background-color: #3597d3;
        border: 0;
        line-height: 34px;
        height: 34px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        padding: 0 22px;
        border-radius: 25px;
        color: #fff;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        display:inline-block;
    }
    .confirmtrd:hover,
    input[type="submit"].confirmtrd:hover {
        background-color: #1870a6;
        color: #fff;
        text-decoration:none;
    }
    .confirmtrd.green {
        background-color: #27ae60 !important;
    }
    .confirmtrd.green:hover {
        background-color: #167b41 !important;
    }
    .confirmtrd.red {
        background-color: #e64c3c !important;
    }
    .confirmtrd.red:hover {
        background-color: #bb3527 !important;
    }
    .groupinput {
        margin-bottom: 10px;
    }
    textarea.darktheme {
        background-color: #4e6a85;
        border: 1px solid #4e6a85;
        height: 115px;
        max-width: 448px;
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        font-weight: 300;
        color: #ecf0f1;
        margin-top: 10px;
    }
    .entr_col {
        width:33%;
        float:left;
    }
    .entr_clear {clear:both;}
    .selltrade,
    .entertrade {
        width: 720px;
        margin: auto;
    }
    .groupinput.midd label {
        width:80px;
    }
    .groupinput.midd select {
        width:157px;
    }
    .groupinput.midd input {
        width:154px;
        background-color: #4e6a85;
	    border-radius: 0 3px 3px 0;
	    border: none;
	    height: 27px;
	    margin-left: -4px;
	    padding-right: 10px;
    }
    .entr_wrapper_top {
        padding:20px 0 15px 20px;
        background-color:#0c1f33;
    }
    .entr_wrapper_mid {
        padding: 20px 0 15px 20px;
        background-color: #142b46;
        border-radius: 4px;
    }
    .entr_wrapper_bot {
        padding:25px 0 25px 25px;
        background-color:#2c3e50;
    }
    .rnd {border-radius:3px !important;}
    .selectonly select {
        width:219px;
        margin:0;
    }
    .entr_ttle_bar {
        background-color: #142b46;
        padding: 12px;
        border-radius: 4px;
    }
    .entr_ttle_bar img {
        width: 22px;
        vertical-align: middle;
        margin: 0 7px 0 0;
    }
    .entr_ttle_bar strong {
        font-size: 14px;
        text-transform: uppercase;
        display: inline-block;
        font-weight:700 !important;
        vertical-align: middle;
    }
    .entr_successmsg {
        border-radius: 3px;
        background-color: #27ae60;
        color: #fff;
        padding: 4px 7px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    span.selldot {
        display: inline-block;
        background-color: #e84c3c;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        vertical-align: middle;
        margin: -1px 0 0px 5px;
    }
    span.buydot {
        display: inline-block;
        background-color: #27ae60;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        vertical-align: middle;
        margin: -1px 0 0px 5px;
    }
    span.datestamp_header {
        color: #a1adb5;
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0px 10px;
    }
    .fctnlhdn {
        visibility:hidden;
        opacity:0;
        position:absolute;
        z-index:-1;
    }

    /* Popup Overrides */
    div#fancybox-content {
        border-color: #2c3e50 !important;
        background: #2c3e50 !important;
    }
    #fancybox-outer {
        background: #2c3e50 !important;
        box-shadow: none !important;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        border-radius: 6px;
        overflow: hidden;
    }
    #fancybox-close {top: 18px;right: 18px;}
    .lockedd {position:relative;}
    .lockedd i.fa.fa-lock {
        top: 7px;
        position: absolute;
        right: 21px;
        font-size: 14px;
    }

    /* Table CSS */
    .tradelogtable {
        width:100%;
        margin-bottom:0;
    }
    .tradelogtable td {
        padding: 2px;
    }
    textarea.darktheme::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #ecf0f1;
    }
    textarea.darktheme::-moz-placeholder { /* Firefox 19+ */
        color: #ecf0f1;
    }
    textarea.darktheme:-ms-input-placeholder { /* IE 10+ */
        color: #ecf0f1;
    }
    textarea.darktheme:-moz-placeholder { /* Firefox 18- */
        color: #ecf0f1;
    }
    .tradelogscont {
        background-color:#34495e;
        max-width:1125px;
        width:100%;
        margin:0 auto;
    }
    .tradelogscont .innerr {
        padding:25px 0;
    }
    .side-header .right-image .onto-user-meta-details {
        color: #b2bbc4;
        font-size: 12px;
        font-weight: 400;
    }
    .box-portlet {
        border: none !important;
       /* border-radius: 5px;
        overflow: hidden;
        background-color: #142b46;
        box-shadow: 0px 0px 10px 1px rgba(4,13,23,1);*/
    }
    .side-header {
        border-radius: 5px 5px 0 0;
        border-bottom: none;
    }
    .dpricechange {
		text-align: right;
		padding-bottom: 7px;
		display: block;
		margin-top: -37px;
	}
	.chartjs span.nocont {
		padding: 14px 0;
    	font-size: 13px;
	}
    .subnotif {
		display: block;
		width: 50%;
		font-size: 13px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
    }
    .dinnerlist .deleteme {
        text-align: right;
        position: absolute;
        top: -15px;
        z-index: 9;
        right: -5px;
        /* background: #132b46; */
        border-radius: 20px;
        padding: 2px 4px;
        background: linear-gradient(46deg, #10263d 0%,#1a3550 100%);
    }
    a.removeItem, a.editItem {
        padding: 0 !important;
        height: 26px;
        line-height: 25px;
        display: block;
        width: 22px;
        text-align: center;
        font-size: 16px !important;
        background: none !important;
        border: none !important;
        font-weight: 400 !important;
    }
    .oncommonsidebar .post-content {
        padding: 0px 0px;
    }
    .box-portlet-content {
        padding: 0px !important;


    }


.dinnerlist > ul > li {
        display: block;
        border: none;
        padding: 12px 18px 9px 18px;
        float: left;
        width: 46%;
        margin-right: 0%;
        border-radius: 5px;
        position: relative;
        height: 234px;
        background: #142c46;
        background: -moz-linear-gradient(45deg, #0a1c31 0%, #1a3550 100%);
        background: -webkit-linear-gradient(45deg, #0a1c31 0%,#1a3550 100%);
        background: linear-gradient(45deg, #0a1c31 0%,#1a3550 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a1c31', endColorstr='#1a3550',GradientType=1 );
        box-shadow: -4px 4px 8px -2px rgba(4,13,23,0.7);
        border-radius: 5px;
        margin: 10px;
    }
    .dinnerlist .dtockname {
        margin-top: 0 !important;
    }
    .dpricechange .curchange, .dpricechange .curprice {
		font-weight: normal !important;
    }
    .dplusbutton {
        padding: 50px 0px 0px 0px;
    }
    .dinnerlist .dparams ul li {
        width: 29.6%;
        padding: 2px;
	}
	.box-portlet-header, .box-portlet-footer {
		background: none;
    	padding: 0;
	}
    span.curchange {
        font-size: 15px;
        font-weight: normal;
        display: inline-block;
        margin: 0 7px 0 0;
    }
    .onred {color: #ea4d5c !important;}
    .ongreen {color: #53b987 !important;}
    .dinnerlist .dparams ul li > div.dvalue {
        font-size: 13px;
        width: 100%;
        font-weight: bold;
        padding: 5px;
        border: 1px solid #132b46;
        text-align: center;
        border-radius: 0px 0px 5px 5px;
	}
	.dvalue span.ontoleft, .dvalue span.ontoright {
		color: #ecf0f1;
		font-family: 'Roboto', sans-serif;
		font-size: 13px;
		font-weight: 300;
	}
    span.curprice {
        display: inline-block;
        margin: 0 3px 0 8px;
        font-size: 15px;
        font-weight: normal;
    }
    .curprice, .stocknn, .curchange {
        vertical-align: middle;
        line-height: 22px;
    }
    .stocknn {
        font-size: 20px;
        font-weight: bold;
        line-height: 1em;
        display: inline-block;
        padding: 0;
        margin-bottom: 12px;
    }

    .editwatchlist {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        float: right;
        height: 21px;
        border-radius: 5px;
        font-size: 12px;
        margin-left: 5px;
        margin-top: 8px;
        background: transparent;
        border: 0;
        color: #afadb3;
        direction: ltr;
    }

    select option {
        background: #4e6a85;
        color: #fff;
        direction: ltr;
    }

    .modal {
        width: 115% !important;
    }

    .wlttlstockvals {
		display: block;
        width: 100%;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    #page-container {
        background: #0c1e33;
    }

    .box-portlet-header {
        background: transparent;
        /*border-bottom: 1px solid #1e3554;*/
       padding: 10px 0px 0;
    }

    .inner-placeholder {
        background: #0d1f33;
        color: #d8d8d8;
        padding-top: 0%;
    }

    .et_non_fixed_nav.et_transparent_nav.et_show_nav #page-container, .et_fixed_nav.et_show_nav #page-container {
        padding-top: 45px;
    }

    .two a {
        border-radius: 4px;
    }

    .dinnerlist .dparams {
        display: block;
        margin-top: 10px;
        text-align: center;
    }

    .dinnerlist > ul > li.addwatch:hover .dplsicon, .dinnerlist > ul > li.addwatch:hover .dplstext {
        color: #ecf0f1;
    }

    .dinnerlist > ul > li.addwatch:hover {
        background: #2B405B;
        cursor: pointer;
    }

    .center-dashboard-part {
        float: left;
        width: 55%;
        margin-top: 10px;
    }

    .trading-name {
        font-family: 'Nunito', sans-serif;
        color: #999999;
        font-size: 13px;
        padding-left: 10px;
    }

    .dfreq {
        font-size: 12px;
        margin-left: 15px;
    }

    .editmenow {
        margin: 0px 0 0px 90px;
        cursor: pointer;
        color: white;
        display: inline-block;
        background-color: #11273e;
        padding: 4px 14px !important;
        border-radius: 25px
    }
    .eventnone {
        cursor: pointer;
    }
    button#submitmenow, button#canceladd {
        padding: 4px 9px !important;
    }
    .addwatchtab {
        background-color: #142c46;
        padding: 16px 9px 16px 18px;
        margin-top: 11px;
        border-radius: 5px;
    }
    #main-header {
        z-index: 10 !important;
    }
    .top-stocks {
        box-shadow: -4px 4px 8px -2px rgba(4,13,23,0.7);
        background: linear-gradient(45deg, #0a1c31 0%,#1a3550 100%) !important;
        padding-bottom: 9px;
    }
    .to-content-part {
        background: none !important;
    }
    button.close span {
        font-size: 25px;
    }
    .adsbygoogle {
        background: #142c46;
        display: block !important;
        margin-top: 15px;
        border-radius: 5px;
        overflow: hidden;
        padding-bottom: 8px;
        /* padding: 10px 15px 15px 15px; */
    }
    .adsbygoogle .to-top-title {
        padding-top: 6px;
        padding-left: 13px;
        padding-right: 13px;
        padding-bottom: 0;
        margin-bottom: 5px;
        font-weight: 400;
	}
	
.swal2-popup.swal2-modal {
	background-color: #142b46;
	border-radius: 15px;
	width: 500px;
}
.modal-content {
		background: #142c46;
}
.swal2-text, .swal2-title {
	color: #fff !important;
}
.swal2-button--confirm {
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ffffff;
    background: none;
    border: 2px #00bcd4 solid;
    height: auto;
    border-radius: 25px;
    padding: 3px 9px;
}
.swal2-popup .swal2-content {
    color: #fff;
    font-size: 16px;
}
.swal2-popup .swal2-styled.swal2-cancel {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ffffff;
    background: none !important;
    border: 2px #9E9E9E solid !important;
    height: auto;
    border-radius: 25px;
    padding: 3px 9px;
}
.swal2-popup .swal2-styled:focus {
	outline: 0;
    box-shadow: none;
}
.swal2-popup .swal2-styled.swal2-confirm {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ffffff;
    background: none !important;
    border: 2px #00bcd4 solid !important;
    height: auto;
    border-radius: 25px;
    padding: 3px 12px;
}
.swal2-popup .swal2-styled.swal2-confirm:hover {
    background: #00bcd4 !important;
    border-color: #00bcd4 !important;
}
.swal2-popup .swal2-styled.swal2-cancel:hover {
    background: #dd3333 !important;
    border-color: #dd3333 !important;
}
.swal2-popup .swal2-actions {
	margin: 1.25em 0 0 auto;
}
.latest-news {
	margin-top: 15px;
    background: linear-gradient(45deg, #0a1c31 0%,#1a3550 100%) !important;
    box-shadow: -4px 4px 8px -2px rgba(4,13,23,0.7);
}
.watchlist--buttons {
    display: flex;
}
.watchlist--buttons a {
    color: white;
}

.s_dropdown:after {
    position: absolute;
    content: "...";
    font-size: 20px;
    margin-left: 5px;
    padding-bottom: 0px;
    top: 4px;
    height: 1px;
    z-index: 0;
}

/*=============================sidebar-topgainers/losers=====================//*/

.top-stocks .to-content-part ul .even span {
        border: 2px solid;
        height: 42px;
        width: 42px;
        line-height: 40px;
        font-size: 11px !important;
        text-align: center;
        display: block; 
        border-radius: 25px;
    }


    .top-stocks .to-content-part ul .even a{
        width: 75%;
        color: #fff;
        font-weight: 500;
    }
    .top-stocks .to-content-part ul .odd a{
        width: 81%;
    }

    .gainers-title:hover, .losers-title:hover {
        cursor: pointer;
    }  
    .top-stocks .to-content-part ul .odd label {
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
    }
    .top-stocks .to-content-part ul .odd {
        display: inline-flex;
        text-overflow: ellipsis;
        width: 98%;
        padding: 7px 0;
    }
    .top-stocks .to-content-part ul .odd span {
        border: 2px solid;
        height: 42px;
        width: 42px;
        line-height: 40px;
        font-size: 11px !important;
        text-align: center;
        display: block;
        border-radius: 25px;
    }
    .watch-list-inner .to-content-part .even tr:last-child {
        border-bottom: none !important;
    }
   .top-stocks {
    background-color: #142b46;
}
    .top-stocks .to-top-title {
        padding-top: 10px !important;
        padding-left: 15px !important;
        padding-bottom: 0 !important;
    }
    .to-bottom-seemore {
        padding: 0px 0px 8px 16px;
        font-size: 12px !important;
        font-weight: 300 !important;
        cursor: pointer;
        color: #d8d8d8 !important;
    }
    .see-more-btn, .see-more-btn a {
        color: #d8d8d8 !important;
    }
    .hide-show {
        display: none;
    }
    .right-dashboard-part {
        float: left;
        width: 27%;
        padding: 21px 0px !important;
    }
    .top-stock .to-content-part {
        padding-bottom: 0 !important;
    }
    .top-stocks .to-content-part ul li a {
        padding: 2px 10px !important;
    }
    .top-stocks .to-content-part ul .even a p{
        color: #999999 !important;
        margin-bottom: 0;
        font-size: 11px;
    }
    .top-stocks .to-content-part ul .odd a p{
        margin-bottom: 0;
    }
    .top-stocks .to-content-part {
        padding-bottom: 0 !important;
    }
    .gravatar .avatar .avatar-80 .um-avatar .um-avatar-default {
        top: 17px !important;
        bottom: 8px !important;
        position: relative !important;
    }

    .to-content-part {
        background: #142c46;
        padding:4px;
    }

    hr.style14.style13 {
    display: none;
    }

    .errorpop {
        border: 2px solid #e51f62;
        color: #e51f62;
        text-align: center;
        font-size: 12px;
        line-height: 1em;
        border-radius: 3px;
        padding: 5px;
        margin-top: 10px;
        width: 96%;
    }

/*------ global-dashboard-css ------*/
.inner-main-content, .header-dashboard-inner {
    max-width: 1020px;
    width: 100%;
}
.inner-main-content,
.header-dashboard-inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/*------ global-dashboard-css ------*/


/*------ global-sidebar ------*/
.side-header .right-image .onto-user-name {
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}
.side-header .right-image .onto-user-meta-details {
    color: #57718b;
}
.side-header .right-image .onto-user-name {
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-size: 13px;
}
.side-header {
    background: transparent;
    border-radius: 3px 3px 0 0;
    padding: 0 0 5px;
    line-height: 1em;
}
.side-header .left-image {
    display: inline-block;
    width: 12%;
}
.side-header .right-image {
    display: inline-block;
    width: 81%;
    font-size: 13px !important;
    font-weight: normal;
    line-height: 1.3em;
    vertical-align: top;
}
.side-header .left-image .user-image{
    background-size: cover !important;
    width: 26px;
    height: 26px;
    border-radius: 50px;
}
.arb_smalltxt {
    font-weight: 300;
    font-size: 11px;
    text-transform: lowercase;
    color: #aaa;
}
.side-content-inner ul {
    padding: 0;
    list-style: none;
}
.sidebariconssocial li.active a {
    background: #142c46;
}
.side-content ul li a {
    display: block;
    color: #ecf0f1 !important;
    padding: 6px 1px 6px 5px;
    font-size: 13px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
}
.sidebariconssocial img {
    width: 21px;
    vertical-align: bottom;
    margin-right: 11px;
}
.m-separator {
    width: 100%;
    height: 15px;
}
span.menu-title-calc {
    color: #aaa;
    font-size: 13px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}
li.seven.calc-menu-buysell span {
    top: -2px;
    position: relative;
}
a:hover {
    text-decoration: none !important;
}
.dashboard-sidebar-left {
    height: 100%;
}
.dashboard-sidebar-left-inner {
    position: sticky;
    top: 57px;
    background: #142c46;
    padding: 14px;
    border-radius: 5px;
    border: 1px solid #1e3554;
}
.left-dashboard-part {
    padding: 10px 0 0 !important;
    width: 218px;
}
.arbitrage-button {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #ffffff;
    background: none;
    border: 2px #fff solid;
    height: auto;
    border-radius: 25px;
    padding: 3px 9px;
}
.arbitrage-button--primary {
    border: 2px #2481bc solid;
}
.arbitrage-button--primary:hover {
    color: #ffffff;
    background-color: #2481bc !important;
    transition-duration: 300ms;
}

.dinnerlist .dparams ul {
    padding: 0px;
    margin: 5px;
    width: 223px;
}

.top-stocks {
    margin-bottom: 10px;
}
/*------ global-sidebar ------*/



/*------ notification-sidebar ------*/

body .um-notification-live-feed {
    top: 18px;
    background: #152d46;
    color: #fff;
    border:none;
    position: relative;
    margin-top: -10px;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 0px rgba(7, 13, 19, 0.52);
    max-width: 365px;
    overflow: visible;
    right: 55px !important;
    display: none;
}
.um-notification-live-feed-inner {
    border-bottom-color: #152d46 !important;
}
.um-notification-live-feed-inner::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 11px;
    background-color: #0f121d;
}
.um-notification-live-feed-inner::-webkit-scrollbar{
    width: 8px;
    border-radius: 10px;
    background-color: none;
}
.um-notification-live-feed-inner::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #34495e;
}
body .um-notification-live-feed .um-notification-header {
    border-bottom: 1px solid #35485f;
}
.um-notification-header {
    background: #152d46;
    z-index: 2;
    border-radius: 6px 6px 0px 0px;
    width: 365.05px;
}
body .um-notification-live-feed .um-notification-left {
    border: 0 none;
    text-transform: capitalize;
    font-size: 12px !important;
    padding: 6px 14px !important;
    font-family: 'Roboto', sans-serif;
}
.um-notification-right {
    padding-top: 4px !important;
    display: none;
}
.um-notification-live-feed-inner .um-notification-ajax {
    max-height: 236px;
    overflow: auto;
}
.um-notification-live-feed-inner .um-notification-ajax::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 11px;
    background-color: #0f121d;
}
.um-notification-live-feed-inner .um-notification-ajax::-webkit-scrollbar{
    width: 8px;
    border-radius: 10px;
    background-color: none;
}
.um-notification-live-feed-inner .um-notification-ajax::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #34495e;
}
body .um-notification-live-feed .um-notification-ajax .um-notification {
    border-bottom: 1px solid #35485f;
    color: #fff;
    text-align: left
}
body .um-notification-live-feed .um-notification-ajax .um-notification:hover {
    background: #222d3a;
}
body .um-notification-live-feed .um-notification-ajax .um-notification span.um-notification-hide a {
    color: #fff !important;
}
.um-notification-live-feed .um-notification-more {
    padding: 5px 15px !important;
    border-radius: 0 0 5px 5px;
}
.um-notification-live-feed .um-notification-more a {
    color: #fffffe;
    font-family: 'Roboto', sans-serif;
}
.clear {
    clear: both;
}
.dmessagepart {
    padding-right: 5px;
    display: inline-block;
}
.right-header-inner .dmessagepart .vyndue-notification {
    top: 6px;
    font-size: 10px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    margin-left: 14px;
    display: none;
    position: absolute;
    background: #ff0000;
    color: #fff;
    border-radius: 999px;
    text-align: center;
}
.right-header-inner .dmessagepart .vyndue-notification.has-notification {
    display: block !important;
}
/*------ notification-sidebar ------*/


.floatingdiv {
    width: 100%;
    /*height: 125px;*/
    height: 75px;
}

.floatingdiv .amcharts-chart-div > a {
    display: none !important;
}

.arb_bar_red, .arb_bar_green {
    margin: 1px 0 3px;
}

.arb_bar_red {
    float: left;
    background-color: #e64c3c;
    color: #fff;
    padding: 2px 0;
    text-align: center;
    line-height: 0;
    border-radius: 0 5px 5px 0;
}

.arb_bar_green {
    float: left;
    background-color: #25ae5f;
    color: #fff;
    padding: 2px 0;
    text-align: center;
    line-height: 0;
    border-radius: 5px 0 0 5px;
}

.swipecenterl{
  position: absolute;
  width: 100px;
  right: 0;
  top: 0;
  height: 100%;
  background: transparent;
  z-index: 0;
}

.swipecenterr{
  position: absolute;
  width: 40px;
  left: 0;
  top: 0;
  height: 100%;
  background: transparent;
  z-index: 1;
}

.swipecenter-area-r {
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  height: 100%;
  background:#0000007a;
  z-index: 5;
  display: none;
}
body .um-notification-live-feed .um-notification-ajax .um-notification {
    border-bottom: 1px solid #35485f;
    color: #fff;
    text-align: left;
}
body .um-notification-live-feed .um-notification-ajax .um-notification:hover {
    background: #11253c;
}
.um-notification-hide a {
    position: relative;
    top: 6px;
    right: 5px;
}
.um-notification-hide {
    display: inline !important;
    position: absolute !important;
    z-index: 9 !important;
    top: 4px !important;
    right: 0 !important;
    margin: 0 !important;
}
.fa-times:before {
	font-size: 11px;
}
.um-notification span.b2 i img {
    width: 15px;
    position: relative;
    top: -1px;
}

/* -------------- newsticker vyndue ---------------- */
#vyndue--link span {
    position: relative;
}
#vyndue--link span:after {
    position: absolute;
    display: inline;
    background: #e91e63;
    padding: 0px 6px;
    width: 42px;
    font-size: 9px;
    font-weight: 500;
    border-radius: 20px;
    content: "Try this";
    top: -10px;
    left: 41px;
}
#vyndue--link span:before {
    content: "";
    position: absolute;
    left: 46px;
    bottom: 7px;
    width: 0;
    height: 0;
    border-top: solid 7px #e91e63;
    border-left: solid 0px transparent;
    border-right: solid 7px transparent;
}
/* -------------- newsticker vyndue ---------------- */


/* -------------- passwordmodal vyndue ---------------- */
#vynduemodals {
    top: 50px;
    margin-left: -43px;
    overflow: inherit;
}
#vynduemodals .modal-dialog .modal-content {
    border-radius: 5px;
    overflow: hidden;
    background: #142c46;
    width: 350px;
    margin: 0 auto;
}
#vynduemodals .modal-body {
    background: #142c46;
    color: #fff;
}
#vynduemodals .modal-body input#darbitpass {
    width: 100%;
    border: 1px solid #1d3553;
    background: #10273e;
    border-radius: 100px;
    padding: 5px 10px;
    /* margin-bottom: 9px; */
    font-size: 14px;
    color: #fff;
}
#vynduemodals .modal-body input#darbitpass:focus {
    outline: none;
}
#vynduemodals .modal-body input#subspass {
    background: none;
    border: 2px solid #e77e24;
    color: #fff;
    font-size: 12px;
    border-radius: 50px;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
}
#vynduemodals .modal-body input#subspass:hover {
    border: 2px solid #e77e24;
    background: #e77e24;
    color: #fff;
}
#vynduemodals .modal-body .vynduepassnow_cancel {
    background: none;
    border: 2px solid #F44336;
    color: #fff ;
    font-size: 12px;
    border-radius: 50px;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
}
#vynduemodals .modal-body .vynduepassnow_cancel:hover {
    border: 2px solid #F44336;
    background: #F44336;
    color: #fff;
}
.vynduepassnow--phar {
    margin-bottom: 5px;
    font-size: 13px;
    margin: 0 auto;
    line-height: 1.4;
    text-align: center;
}
.vynduepassnow--phar-bot {
    font-size: 11px;
    font-weight: 300;
    color: #9c9c9c;
    margin: 9px auto;
    line-height: 1.4;
    text-align: center;
}
.vynduepassnow--username-youornot {
    font-size: 11px;
    font-weight: 300;
    color: #c9c9c9;
    margin: 0 auto 10px;
    line-height: 1.4;
    text-align: center;
}
.vynduepassnow--username {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.vynduepassnow_vyndue-img {
    width: 31%;
    margin: 0 auto;
    display: block;
}
.vynduepassnow_user-img {
    width: 100%;
    border-radius: 100px;
}
.vynduepassnow_user-img-main {
    display: block;
    margin: 17px auto;
    width: 39%;
    height: 39%;
    border-radius: 100px;
    border: 3px solid rgba(101, 131, 168, 0.4196078431372549);
    padding: 4px;
    overflow: hidden;

    -webkit-box-shadow: 0px 0px 11px -2px rgba(8, 22, 38, 0.5);
    -moz-box-shadow: 0px 0px 11px -2px rgba(8, 22, 38, 0.5);
    box-shadow: 0px 0px 11px -2px rgba(8, 22, 38, 0.5);
}
.vynduepassnow_btns {
    margin: 18px 0 3px auto;
}
/* -------------- passwordmodal vyndue ---------------- */